@if (!file) {
  <div>Loading...</div>
} @else {
  <app-file-panel [file]="file" [model]="'surgery'">
    <ng-container headers>
      <span>{{ file.report_diagnostic }}</span>
      <span>{{ file.report_surgeon }}</span>
    </ng-container>
    <div class="two-columns">
      <div class="panel">
        <div>Informations</div>
        <div>
          <app-io type="date" label="Date" required [value]="file.date" />
          <app-io
            type="text"
            label="Hospital Follow up"
            [value]="file.follow_up_complication"
          />
        </div>
      </div>
      <div class="panel">
        <div>Report</div>
        <div>
          <app-io
            type="string"
            label="Diagnostic"
            [value]="file.report_diagnostic"
          />
          <app-io type="string" label="Surgeon" [value]="file.report_surgeon" />
          <app-io
            type="boolean"
            label="Right Side"
            right
            [value]="file.report_side_right"
          />
          <app-io
            type="boolean"
            label="Left Side"
            left
            [value]="file.report_side_left"
          />
          <app-io
            type="string"
            label="Procedure"
            [value]="file.report_procedure"
          />
        </div>
      </div>
    </div>
  </app-file-panel>
}
