.action-button {
  display: inline-block;
  flex-shrink: 0;
  flex-basis: 100px;
  min-width: 100px;

  vertical-align: middle;

  margin: 0.25rem;

  border-radius: 4px;
  border-style: solid;
  border-width: 1px;

  padding: 6px 12px;
  color: white;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  line-height: 1.4286;

  touch-action: manipulation;
  cursor: pointer;
  user-select: none;

  img[src=""] {
    display: none;
  }

  img {
    height: 1.5em;
    vertical-align: middle;
    padding-right: 5px;
  }
}
