.io-img {
  /* position: relative; */
  height: 100%;
  width: 100%;

  img[data-role="image"] {
    object-fit: contain;
    height: 100%;
    width: 100%;

    transition: transform 1s ease;
  }

  img[data-decorator] {
    position: absolute;
    bottom: 0;
    right: 0;

    object-fit: contain;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
  }
}
