.io {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- reported as partial support */
  column-gap: 10px;

  flex-wrap: wrap;
  justify-content: space-between;
}

.io.note {
  font-size: smaller;
}

.io > label {
  width: 25%;
  text-align: right;
  font-size: smaller;
  color: gray;
  word-break: break-word;
  hyphens: auto;
}

.io > div {
  flex-grow: 1;
  text-align: left;
  color: green;
  background-color: white;
}

.io > div > .io-function-error {
  color: gray;
}

.io-img {
  position: relative;
  height: 100%;
  width: 100%;
}

.io-img > img[data-role="image"] {
  object-fit: contain;
  height: 100%;
  width: 100%;

  transition: transform 1s ease;
}

.io-img > img[data-decorator] {
  position: absolute;
  bottom: 0;
  right: 0;

  object-fit: contain;
  background-color: gray;
  border-radius: 10px;
  padding: 5px;
}
