.io {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- reported as partial support */
  column-gap: 10px;

  flex-wrap: wrap;
  justify-content: space-between;

  & > label {
    width: 25%;
    text-align: right;
    word-break: break-word;
    hyphens: auto;
  }

  & > .content {
    flex-grow: 1;
    text-align: left;
    background-color: white;
    overflow-wrap: break-word;

    max-width: calc(100% - 25% - 10px);

    .io-function-error {
      color: gray;
    }

    pre {
      overflow-wrap: break-word;
    }

    /* For radio buttons specifically */
    & > .align {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > input[type="radio"] {
        height: 2em;
        width: 20px;
        margin-right: 5px;
      }
    }

    .note {
      font-size: smaller;
      color: gray;
    }
  }

  &.io-note {
    font-size: smaller;
  }

  &.io-output {
    & > label {
      font-size: smaller;
      color: gray;
    }

    & > .content {
      color: var(--color-around-green);
    }
  }

  & > .annexe {
    font-size: xx-small;
    color: gray;
  }
}
