.panel {
  display: flex;
  flex-direction: column;

  /*
    // This cause problem in the edit fullscreen form
    height: 100%;
    */

  box-sizing: border-box;
  border: 1px solid rgb(0 0 0 / 12.5%);
  border-radius: 3px;

  min-width: var(--panel-min-width);

  img {
    height: 1.5em;
  }

  * {
    text-align: center;
  }

  & > * {
    width: 100%;
  }

  & > .header {
    display: flex;
    flex-direction: row;
    padding: 0.75em;

    background-color: rgb(0 0 0 / 3%);

    & > * {
      flex-grow: 1;
    }

    #triangle {
      width: 2em;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      transition-property: transform;
      transition-duration: 0.25s;

      &.opened {
        transform: rotate(0.25turn);
      }
    }

    #custom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > .first * {
        padding-right: 1em;
      }
    }
  }

  & > .body {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* vertical horizontal */
    padding: 0.75rem 1.25rem;

    & > * {
      width: 100%;
    }

    & > .technical {
      display: flex;
      width: 100%;

      flex-wrap: wrap;
      justify-content: space-between;

      color: gray;
      font-size: 10px;
    }

    & > .separator {
      width: 100%;
      background-color: lightgray;
      border: black 1px dashed;
      text-align: center;
    }
  }
}
