<div attr.data-testId="{{ file.uuid }}" class="panel">
  <div (click)="toggleOpen()" attr.data-testId="{{ file.uuid }}-open">
    <label>
      <img src="{{ icon }}" alt="{{ model }}" class="inline" />
      {{ label }}
    </label>
    <ng-content select="[headers]"></ng-content>
    @if ($any(file).date) {
      <span>{{ $any(file).date }}</span>
    }
  </div>
  @if (statusOpened) {
    <div class="body" attr.data-testId="{{ file.uuid }}-content">
      <div class="technical">
        <div>{{ model }}#{{ file.id }}</div>
        <div>created at <app-date [value]="file.created_at"></app-date></div>
        <div>updated at <app-date [value]="file.updated_at"></app-date></div>
        <div>by {{ file.last_user }}</div>
      </div>
      <div class="button-group">
        <app-confirm></app-confirm>
        @if (file.isLocked()) {
          @if (authService.has("folder.unlock")) {
            <button
              class="btn btn-outline-secondary"
              attr.data-testid="{{ file.uuid }}-button-unlock"
              (click)="doUnlock()"
            >
              Unlock
            </button>
          } @else {
            <span>File is locked</span>
          }
        } @else {
          @if (editMode) {
            <button
              class="btn btn-success"
              attr.data-testid="{{ file.uuid }}-button-save"
              (click)="doSave()"
            >
              Save
            </button>
            <button
              class="btn btn-warning"
              attr.data-testid="{{ file.uuid }}-button-cancel"
              (click)="doCancel()"
            >
              Cancel
            </button>
            @if (authService.has("folder.delete") && file.canDelete()) {
              <button
                class="btn btn-danger"
                attr.data-testid="{{ file.uuid }}-button-delete"
                (click)="doDelete()"
              >
                Delete
              </button>
            }
          } @else {
            <button
              *ngIf="authService.has('folder.edit')"
              class="btn btn-outline-primary"
              attr.data-testid="{{ file.uuid }}-button-edit"
              (click)="goEdit()"
            >
              Edit
            </button>
          }
        }
      </div>
      <div data-role="body" class="body">
        <ng-content></ng-content>
      </div>
    </div>
  }
</div>
