:host {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: 1px solid rgb(0 0 0 / 12.5%);
  border-radius: 3px;

  width: 100%;
}

:host > * {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.75em;
  gap: 1em;

  background-color: rgb(0 0 0 / 3%);

  label {
    text-align: center;
  }

  img {
    height: 1.5em;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;

  /* vertical horizontal */
  padding: 0.75rem 1.25rem;

  .technical {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;

    color: gray;
    font-size: 8px;
  }

  .separator {
    width: 100%;
    background-color: lightgray;
    border: black 1px dashed;
    text-align: center;
  }
}
