<fieldset class='related'>
	<legend>Related Patient</legend>
	<table>
		<tbody>
			<tr>
				<td rowspan='100' align='left' width='100px'>
					<img src="/static/img/patient.gif">
					<br/>
					<a class='textbutton' href="#/folder/{{folder.getId()}}">
						<img src="/static/img/go.gif">view
					</a>
				</td>
			</tr>
			<tr>
				<td><label>Reference</label></td>
				<td>
					<span id='Patient_entryyear'>{{ folder.getPatient().entryyear }}</span>	
					-
					<span id='Patient_entryorder'>{{ folder.getPatient().entryorder }}</span>
				</td>
			</tr>
			<tr ng-class='{ emptyValue: !folder.getPatient().Name}'>
			<td>Name</td>
			<td><span id='Patient_Name'>{{ folder.getPatient().Name }}</span></td>
		</tr>
			<tr ng-class='{ emptyValue: !folder.getPatient().Yearofbirth}'>
			<td>Year of birth</td>
			<td><span id='Patient_Yearofbirth'>{{ folder.getPatient().Yearofbirth }}</span></td>
		</tr>
			<tr ng-class='{ emptyValue: !folder.getPatient().Sex}'>
			<td>Sex</td>
			<td><span id='Patient_Sex'>{{ folder.getPatient().Sex }}</span></td>
		</tr>

      <tr>
      </tr>
		</tbody>
	</table>
</fieldset>
<fieldset class='related'>
	<legend>Agenda</legend>
	<table>
		<tbody>
			<tr>
				<td rowspan='100' align='left' width='100px'>
					<img src="/static/img/consultOfDay.gif" width='75px'>
				</td>
        <td class='text-center'>
        	<div ng-if="nextAppointment()" class='alert alert-info' style='margin-bottom: 0px'>
        		Next appointment: {{ nextAppointment() }}
        	</div>
        	<div ng-if="!nextAppointment()" class='alert alert-danger' style='margin-bottom: 0px'>
      			No next appointment planned.
          	<a class='notModeWrite btn btn-default' ng-href="#/folder/{{patient_id}}/file/Appointment">Add an appointment</a>
        	</div>
        </td>
		</tbody>
	</table>
</fieldset>
