/********************************************
 * Reports
 */
table.reporting {
  width: 100%;

  & > * {
    border: 2px solid black;
  }

  & > thead > tr > th,
  & > tbody > tr > td,
  & > tfoot > tr > th {
    text-align: center;
  }

  & > thead > tr > th,
  & > tfoot > tr > th {
    background-color: gray;
    border: 1px solid white;

    color: white;
  }

  & > tbody > tr > td {
    border: 1px solid gray;
  }

  & > tbody > tr:nth-child(odd) {
    background-color: lightgray;
  }

  & > tbody > tr > .subheader,
  & > tfoot > tr > .subheader {
    background-color: gray;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
  }
}
