
# https://github.com/browserslist/browserslist#readme

# Default: > 0.5%, last 2 versions, Firefox ESR, not dead => less browser supported!

last 10 Firefox versions
last 10 Chrome versions
Firefox ESR
