#!/usr/bin/bash

# https://manpages.debian.org/bullseye/direnv/direnv-stdlib.1.en.html

PATH_add bin
PATH_add node_modules/.bin

# Configuration de l'environnement de développement
export CRYPTOMEDIC_DEPLOY_FILES_HOST=localhost
export CRYPTOMEDIC_DEPLOY_WEB_HOST=localhost
export CRYPTOMEDIC_DEPLOY_WEB_PORT=8085
export CRYPTOMEDIC_DEV_HTTP_HOST=localhost
export CRYPTOMEDIC_DEV_HTTP_PORT=8085

# Pour la production, ces variables devront être surchargées dans un fichier .env.prod