{
  "rules": {
    "indent": [
        2,
        2,
        { "SwitchCase": 1 }
    ],
    "quotes": [
        2,
        "double"
    ],
    "linebreak-style": [
        2,
        "unix"
    ],
    "semi": [
        2,
        "always"
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "angular": true,
    "cryptomedic": true,
    "server": true,
    "appState": true,
    "mainApp": true
  },
  "extends": "eslint:recommended"
}
