{
  "rules": {
    "indent": [
        2,
        2,
        { "SwitchCase": 1 }
    ],
    "quotes": [
        2,
        "double"
    ],
    "linebreak-style": [
        2,
        "unix"
    ],
    "semi": [
        2,
        "always"
    ],
    "no-console": [ 0 ],
    "no-undef": [ 1 ],
    "no-unused-vars": [ 1 ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    // personnal
    "application": true,
    "cryptomedic": true,
    "server": true,
    "appState": true,
    "mainApp": true,
    "DataMissingException": true,
    "service_backend": true,

    // libs
    "angular": true,
    "jQuery": true,

    // Jasmine
    "describe": true,
    "it": true,
    "expect": true
  },
  "extends": "eslint:recommended"
}
