{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "indent": [
        2,
        2,
        { "SwitchCase": 1 }
    ],
    "linebreak-style": [
        2,
        "unix"
    ],
    "semi": [
        2,
        "always"
    ],
    "no-console": [ 0 ],
    "no-undef": [ 1 ],
    "no-unused-vars": [ 1 ],
    "comma-dangle": [ 0 ]
  },
  "globals": {
    "console": true,
    "jQuery": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
