/.project
/.settings
/.buildpath
/.DS_Store
/.idea
/.externalToolBuilders/

!.gitkeep

node_modules/
**/logs
**/tmp

output/

commit.msg
phantomjsdriver.log

/.tern-project
/npm-debug.log

composer.lock
