/live/
/tmp/

/**/build/
/**/logs/
/**/node_modules/
/**/tmp/
/**/unused/
/**/vendor/

commit.msg
composer.lock
.git
.vagrant
.~lock.*
*.bak
*.log

/.buildpath
/.externalToolBuilders/
/.idea
/.metadata
/.project
/.settings
/.DS_Store

/www/drupal/sites/default/files/
**/drupal/sites/default/files/
