
#
# Built artifacts
#
/.built
/.ovhconfig
/legacy/built/
/www/built/
/www/index.html

#
# Temporary files
#
/live/
/live-from-production/
/tmp/
/www/api/bootstrap/cache/

node_modules
vendor

#
# Others
#
/.~lock.*

commit.msg
*.bak
