<IfModule mod_expires.c>
	ExpiresActive 	On
	ExpiresByType	img/*			"access plus 1 week"
	ExpiresByType	css/*			"access plus 1 week"
	ExpiresByType   js/*			"access plus 1 week"
	ExpiresByType   text/cache-manifest			A0	
	ExpiresDefault 	A0
</IfModule>

RedirectMatch		404				vendor
