#<IfModule mod_expires.c>
#	ExpiresActive 	On
#	ExpiresByType	img/*			"access plus 1 week"
#	ExpiresByType	css/*			"access plus 1 week"
#	ExpiresByType   js/*			"access plus 1 week"
#	ExpiresDefault 	A0
#</IfModule>

RewriteEngine On

RewriteRule ^$ angular/app/index.php [QSA,L]
RewriteRule ^(.*)$ angular/app/$1 [QSA,L]
