built/
.*

built
unused
_*
var/
etc/
tmp/
vendor/
www/index.html
www/api/

www/api/tests/references/*.json
package.json
package-lock.json
composer.lock
composer.json

conf/database/dev/100 base.sql

*.sql
