built/
.*
unused
_*
var/
etc/
tmp/
vendor/
www/index.html
www/api/

src/cjs2esm
www/api/tests/references/*.json
package.json
package-lock.json
composer.lock
composer.json

src/app-ts/**/*.js
src/app-ts/**/*.js.map
