services:
  ################################################################
  #
  # Prod like services
  #
  ################################################################

  proxy:
    depends_on:
      - phpmyadmin
      - web
    image: nginx
    read_only: true
    ports:
      - published: 8085
        target: 80
        mode: host
    volumes:
      - type: bind
        source: conf/proxy/web
        target: /www/dev/
      - type: bind
        source: conf/proxy/cryptomedic.conf
        target: /etc/nginx/conf.d/default.conf
      - type: tmpfs
        target: /var/cache/nginx
      - type: tmpfs
        target: /var/run

  web:
    # https://hub.docker.com/_/php
    build:
      context: services/web
      args:
        PHP_VERSION: ${PHP_VERSION}
      additional_contexts:
        project: .
    environment:
      # !! Handle https redirection and enforce www.*
      - SERVER_ENV=dev
    expose:
      - 80
    volumes:
      - type: bind
        source: .
        target: /app

  database:
    build:
      context: ./services/database
      additional_contexts:
        project: .
    expose:
      - 3306
    volumes:
      - type: volume
        source: database
        target: /var/lib/mysql
      - type: bind
        source: services/database/initial/
        target: /docker-entrypoint-initdb.d/
      # TODO: Gitlab - move this into services/databases
      - type: bind
        source: www/maintenance/versions/
        target: /versions/

  phpmyadmin:
    # https://hub.docker.com/r/phpmyadmin/phpmyadmin/
    image: phpmyadmin/phpmyadmin:${PHPMYADMIN_VERSION}
    environment:
      PMA_HOST: database
      PMA_USER: root
      # PMA_PASSWORD: mysql_root_password
      # Force lang:
      # <?php $cfg['Lang']='en';
      PMA_USER_CONFIG_BASE64: PD9waHAgJGNmZ1snTGFuZyddPSdlbic7
    expose:
      - 80

  ################################################################
  #
  # Tools / commands
  #
  ################################################################
  cypress:
    profiles:
      - tools
    # See https://github.com/cypress-io/cypress-docker-images/blob/master/included/12/Dockerfile
    image: cypress/included:13.17.0
    environment:
      HOME: /tmp
      LANG: C.UTF-8
      # DBUS_SESSION_BUS_ADDRESS:
      CYPRESS_BASE_URL: http://web/
    working_dir: /app
    volumes:
      - .:/app

volumes:
  database:
