version: "3.9"

services:
  ################################################################
  #
  # Prod like services
  #
  ################################################################

  proxy:
    image: traefik
    restart: always
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      # TODO: Using variable here does not work
      - published: 8085
        target: 80
        mode: host
      # - published: 8086
      #   target: 8080
      #   mode: host
    volumes:
      - type: bind
        source: ${CRYPTOMEDIC_DOCKER_SOCKET:-/var/run/docker.sock}
        target: /var/run/docker.sock
        read_only: true
    labels:
      - traefik.protocol=http
      - traefik.enable=true
      - traefik.http.middlewares.jhstriproot.stripprefixregex.regex=/[a-zA-Z0-9_-]+/

      # - traefik.http.routers.traeffik_api.rule=PathPrefix(`/traefik/api`)
      # - traefik.http.routers.traeffik_api.service=api@internal
      # - traefik.http.routers.traeffik_api.middlewares=jhstriproot@docker

      # - traefik.http.routers.traeffik_dashboard.rule=PathPrefix(`/traefik/dashboard/`)
      # - traefik.http.routers.traeffik_dashboard.service=dashboard@internal
      # - traefik.http.routers.traeffik_dashboard.middlewares=jhstriproot@docker

  web:
    # https://hub.docker.com/_/php
    build:
      context: conf/web
      args:
        PHP_VERSION: ${PHP_VERSION}
    environment:
      - SERVER_ENV=dev
    expose:
      - 80
    volumes:
      - ./:/app
    labels:
      - traefik.enable=true
      - traefik.http.routers.web.rule=PathPrefix(`/`)

  dev-static:
    image: httpd:alpine
    expose:
      - 80
    volumes:
      - .:/usr/local/apache2/htdocs/dev/
    labels:
      - traefik.enable=true
      - traefik.http.routers.static.rule=PathPrefix(`/dev`)

  database:
    image: mysql:${MYSQL_VERSION}
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: cryptomedic
    healthcheck:
      # https://docs.docker.com/reference/dockerfile/#healthcheck
      test: ["CMD", "mysql", "--database", "cryptomedic", "-e", "SELECT * FROM `settings` WHERE id = 'structure_version'; "]
      start_period: 5s
      interval: 1s
      timeout: 1s
      retries: 20
    expose:
      - 3306
    volumes:
      - type: tmpfs
        target: /var/lib/mysql
      - type: bind
        source: conf/database/dev/
        target: /docker-entrypoint-initdb.d/

  ################################################################
  #
  # Dev services
  #
  ################################################################

  phpmyadmin:
    # https://hub.docker.com/r/phpmyadmin/phpmyadmin/
    image: phpmyadmin/phpmyadmin:${PHPMYADMIN_VERSION}
    environment:
      PMA_HOST: database
      PMA_USER: root
      # PMA_PASSWORD: mysql_root_password
      # Force lang:
      # <?php $cfg['Lang']='en';
      PMA_USER_CONFIG_BASE64: PD9waHAgJGNmZ1snTGFuZyddPSdlbic7
    expose:
      - 80
    labels:
      - traefik.enable=true
      - traefik.http.routers.phpmyadmin.rule=PathPrefix(`/phpmyadmin`)
      - traefik.http.routers.phpmyadmin.middlewares=jhstriproot@docker

  mail:
    # https://github.com/maildev/maildev
    image: maildev/maildev
    environment:
      # Not working with healthcheck: - MAILDEV_BASE_PATHNAME=/maildev/
      - MAILDEV_WEB_PORT=1080
    expose:
      - 1025
      - 8025
    labels:
      - traefik.enable=true
      # https://github.com/maildev/maildev/issues/402
      - traefik.http.routers.mail.rule=PathPrefix(`/mail`)
      - traefik.http.routers.mail.middlewares=jhstriproot@docker
      - traefik.http.services.mail.loadbalancer.server.port=1080

  ################################################################
  #
  # Tools / commands
  #
  ################################################################
  composer:
    profiles:
      - tools
    image: composer:latest
    working_dir: /app
    volumes:
      - ./:/app

  cypress:
    profiles:
      - tools
    # See https://github.com/cypress-io/cypress-docker-images/blob/master/included/12/Dockerfile
    image: cypress/included:13.7.0
    environment:
      HOME: /tmp
      LANG: C.UTF-8
      DBUS_SESSION_BUS_ADDRESS:
      CYPRESS_BASE_URL: http://web/
    working_dir: /app
    volumes:
      - .:/app
