services:
  ################################################################
  #
  # Prod like services
  #
  ################################################################

  proxy:
    image: traefik
    restart: always
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      # Note: Using variable here does not work
      - published: 8085
        target: 80
        mode: host
      # - published: 8086
      #   target: 8080
      #   mode: host
    volumes:
      - type: bind
        source: ${CRYPTOMEDIC_DOCKER_SOCKET:-/var/run/docker.sock}
        target: /var/run/docker.sock
        read_only: true
    labels:
      - traefik.protocol=http
      - traefik.enable=true
      - traefik.http.middlewares.jhstriproot.stripprefixregex.regex=/[a-zA-Z0-9_-]+/

      # - traefik.http.routers.traeffik_api.rule=PathPrefix(`/traefik/api`)
      # - traefik.http.routers.traeffik_api.service=api@internal
      # - traefik.http.routers.traeffik_api.middlewares=jhstriproot@docker

      # - traefik.http.routers.traeffik_dashboard.rule=PathPrefix(`/traefik/dashboard/`)
      # - traefik.http.routers.traeffik_dashboard.service=dashboard@internal
      # - traefik.http.routers.traeffik_dashboard.middlewares=jhstriproot@docker

  web:
    # https://hub.docker.com/_/php
    build:
      context: conf/web
      args:
        PHP_VERSION: ${PHP_VERSION}
    environment:
      - SERVER_ENV=dev
    expose:
      - 80
    volumes:
      - type: bind
        source: .
        target: /app
    labels:
      - traefik.enable=true
      - traefik.http.routers.web.rule=PathPrefix(`/`)

  dev:
    image: httpd:alpine
    expose:
      - 80
    volumes:
      - .:/usr/local/apache2/htdocs/dev/
    labels:
      - traefik.enable=true
      - traefik.http.routers.static.rule=PathPrefix(`/dev`)

  database:
    profiles:
      - reset
    image: mysql:${MYSQL_VERSION}
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: cryptomedic
    healthcheck:
      # https://docs.docker.com/reference/dockerfile/#healthcheck
      test:
        [
          "CMD",
          "mysql",
          "--database",
          "cryptomedic",
          "-e",
          "SELECT * FROM `settings` WHERE id = 'structure_version'; "
        ]
      start_period: 5s
      interval: 1s
      timeout: 1s
      retries: 20
    expose:
      - 3306
    volumes:
      # TODO: database volume?
      # - type: volume
      #   source: database
      #   target: /var/lib/mysql
      - type: bind
        source: conf/database/dev/
        target: /docker-entrypoint-initdb.d/

  ################################################################
  #
  # Dev services
  #
  ################################################################

  mail:
    # https://github.com/maildev/maildev
    image: maildev/maildev
    expose:
      - 1080
      - 1025
    healthcheck:
      # See https://github.com/maildev/maildev/issues/484
      test: wget -O - http://127.0.0.1:1080/healthz || exit 1
      start_period: 5s
      interval: 1s
      timeout: 1s
      retries: 10
    labels:
      - traefik.enable=true
      # https://github.com/maildev/maildev/issues/402
      - traefik.http.routers.mail.rule=PathPrefix(`/mail`)
      - traefik.http.routers.mail.middlewares=jhstriproot@docker
      - traefik.http.services.mail.loadbalancer.server.port=1080

  ################################################################
  #
  # Tools / commands
  #
  ################################################################
  composer:
    profiles:
      - tools
    image: composer:latest
    working_dir: /app
    volumes:
      - ./:/app

  cypress:
    profiles:
      - tools
    # See https://github.com/cypress-io/cypress-docker-images/blob/master/included/12/Dockerfile
    image: cypress/included:13.8.0
    environment:
      HOME: /tmp
      LANG: C.UTF-8
      DBUS_SESSION_BUS_ADDRESS:
      CYPRESS_BASE_URL: http://web/
    working_dir: /app
    volumes:
      - .:/app
# TODO: database volume?
# volumes:
#   database:
