/*
 * Globals
 */
::-webkit-calendar-picker-indicator {
  color: red;
  background-image: url("img/cal.gif");
}

[hidden] {
  display: none !important;
}

[full] {
  width: 100%;
  height: 100%;
}

.debug {
  /* color: white; */

  /* background-color: yellow; */
  border-left: solid 15px yellow;
  border-right: solid 15px yellow;
  border-color: yellow;
}

.debug-infos {
  font-size: xx-small;
  font-style: italic;
  color: lightgray;
  text-align: right;
}

.toberemoved {
  background-color: red;
}

.loading {
  text-align: center;
}

.loading::before {
  content: url("img/waiting.gif");
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
}

body > #menu {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
}

body > #menu > * {
  display: block;
  padding-left: 10px;
}

body > .container {
  padding-bottom: 60px;
}

.submenu {
  background-color: lightgray;
}

h1 > img {
  height: 35px;
  margin-right: 20px;
}

/**********************************************
 * Fieldsets (databoxes)
 */

fieldset {
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #002060;
}

fieldset > legend {
  font-size: 120%;
  color: #004a94;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  margin-bottom: 0;
}

fieldset > legend > label {
  padding: 0;
}

fieldset > table,
x-group-panel > table {
  width: 100%;
}

fieldset > table > thead,
x-group-panel > table > thead {
  font-style: italic;
}

fieldset > table > tbody > tr:nth-child(odd),
x-group-panel > table > tbody > tr:nth-child(odd) {
  background-color: rgb(230 230 230);
}

fieldset > table > tbody > tr > td:nth-of-type(1),
x-group-panel > table > tbody > tr > td:nth-of-type(1) {
  /* Setting the width of column 1. */
  width: 120px;
  font-weight: 700;
}

fieldset > table > tbody > tr > td:nth-of-type(3),
fieldset > table > thead > tr > th:nth-of-type(3),
x-group-panel > table > tbody > tr > td:nth-of-type(3),
x-group-panel > table > thead > tr > th:nth-of-type(3) {
  /* Setting the width of column 1. */
  border-left: solid blue 1px;
  padding-left: 5px;
}

/********************************************
 * Reports
 */
table.reporting {
  width: 100%;
}

table.reporting > * {
  border: 2px solid black;
}

table.reporting > thead > tr > th,
table.reporting > tbody > tr > td,
table.reporting > tfoot > tr > th {
  text-align: center;
}

table.reporting > thead > tr > th,
table.reporting > tfoot > tr > th {
  background-color: gray;
  border: 1px solid white;

  color: white;
}

table.reporting > tbody > tr > td {
  border: 1px solid gray;
}

table.reporting > tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

table.reporting > tbody > tr > .subheader,
table.reporting > tfoot > tr > .subheader {
  background-color: gray;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

/********************************************
 * Data display (modes, emtpyValues)
 */
.summary .empty-value {
  display: none;
}

.related .empty-value {
  display: none;
}

.mode-read .empty-value {
  color: lightgray;
  font-size: smaller;
  background-color: white;
}

.mode-read .not-mode-read {
  display: none;
}

.mode-write .not-mode-write {
  display: none;
}

/********************************************
 * Input
 */
input.ng-required,
input[required] {
  border: 1px solid blue;
}

input.ng-invalid,
.error,
input:invalid,
input[validation-message] {
  border: 2px solid red;
}

input[type="date"] {
  /* line-height: inherit !important; */
  line-height: normal !important; /* Workaround bootstrap */
}

input[type="checkbox"].form-control {
  width: auto;
}

input[type="checkbox"] {
  height: 1.5em;
}

.jserror {
  color: red;
  min-height: 20px;
  background-image: url("img/error.png");
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 25px;
}

.ui-datepicker-month,
.ui-datepicker-year {
  color: black;
}

x-input-picture {
  max-width: 300px;
}

/********************************************
 * Menu / buttons
 */
.left-menu-button {
  width: 100%;
  white-space: normal;
  line-height: 1;
}

.navbar img {
  height: 25px;
}

/********************************************
 *  Marks and graphics - legacy
 */
.mark-container {
  /* position: absolute -> relative to the first non-static element -> relative to 0,0 = pseudo-static */
  position: relative;
}

.mark {
  color: red;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: -10px;
}

.mark span {
  margin-left: -50%;
}

.mark.hovered > span {
  background-color: red;
  color: white;
  z-index: 100;
}

tr.hovered {
  background-color: gray !important;
}

/********************************************
 *  Overlays
 */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  position: absolute;
  text-align: center;
  background: rgb(3 3 3 / 60%);

  /*   background-color: #333; */
  color: #fff;
  z-index: 500;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-color: #333;

  /*    background: rgb(3 3 3 / 1); */
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/**********************************************
 * Summary
 */
table.summary table > tbody > tr > td:nth-of-type(1) {
  /* Setting the width of column 1. */
  width: 120px;
  font-weight: 700;
  padding-right: 10px;
}

table.summary table > tbody > tr:nth-child(2n) {
  background-color: rgb(230 230 230);
}

/*******************************************
/* Data Legend
 */
table.datalegend {
  font-size: 9px;
  padding: 0;
  width: 100%;
}

table.datalegend > thead > tr > th {
  font-size: 9px;
  padding: 2px;
}

/********************************************
/******************************************** OLD
/ ********************************************/

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;

    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
