[data-e2e="excluded"] {
  background-color: black !important;
  color: transparent !important;
  width: 100px;
  height: 20px;

  * {
    color: transparent !important;
    background-color: transparent !important;
    font-size: 0;
  }
}

[variable] {
  background-color: purple !important;
  color: purple !important;
}

/*
  Disable all notification
  because their timing may affect follow-up screenshots
 */
#toast-container {
  display: none !important;
}

*,
*::before,
*::after {
  animation: none !important;
  caret-color: transparent !important;
  transition: none !important;
}
