@if (!hidden) {
  <label>
    @if (left) {
      <app-side side="left" />
    }
    @if (right) {
      <app-side side="right" />
    }
    {{ label }}
    @if (required && edit) {
      *
    }
  </label>
  <div class="content">
    @if (edit && !readonly) {
      @switch (type) {
        @case ("string") {
          <input [(ngModel)]="value" />
        }
        @default {
          {{ type }}{{ listName ? "#" + listName : "" }} = {{ value }}
        }
      }
    } @else {
      @switch (type) {
        @case ("boolean") {
          @if (value) {
            <img src="/static/img/boolean-true.gif" alt="Yes" />
          } @else {
            <img src="/static/img/boolean-false.gif" alt="No" />;
          }
        }
        @case ("text") {
          <pre>{{ value }}</pre>
        }
        @default {
          {{ value }}
        }
      }
    }
  </div>
}
