:host {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- reported as partial support */
  column-gap: 10px;

  flex-wrap: wrap;
  justify-content: space-between;

  & > label {
    width: 25%;
    text-align: right;
    font-size: smaller;
    color: gray;
    word-break: break-word;
    hyphens: auto;

    & > img {
      height: 1em;
    }
  }

  &[note] {
    font-size: smaller;

    & > label {
      color: gray;
    }

    & > .content {
      color: gray;
    }
  }

  & > .content {
    flex-grow: 1;
    text-align: left;
    color: green;
    background-color: white;
    max-width: 100%;
    overflow-wrap: break-word;

    .io-function-error {
      color: gray;
    }

    /* pre {
      overflow-wrap: break-word;
    } */
  }
}
