@if (value) {
  <label>
    @if (left) {
      <img src="/static/img/side_left.svg" alt="Left" />
    }
    @if (right) {
      <img src="/static/img/side_right.svg" alt="Right" />
    }
    {{ label }}
    @if (required) {
      *
    }
  </label>
  <div class="content">
    @if (edit) {
      @switch (type) {
        @default {
          EDIT MODE type {{ type }} for {{ value }}
        }
      }
    } @else {
      @switch (type) {
        @case ("boolean") {
          @if (value) {
            <img src="/static/img/boolean-true.gif" alt="Yes" />
          } @else {
            <img src="/static/img/boolean-false.gif" alt="No" />;
          }
        }
        @case ("text") {
          <pre>{{ value }}</pre>
        }
        @default {
          {{ value }}
        }
      }
    }
  </div>
}
