div.route-loading {
  width: 100%;
  background-color: lightcyan;

  div.bar {
    width: 1%;
    height: 3px;
    background-color: var(--color-around-green);

    transition:
      width 3000ms ease-out,
      opacity 500ms linear;
  }

  div.bar.go {
    width: 100%;
  }
}
