RewriteEngine On

RewriteRule ([^/]+)/(.*) ../app/$2 [QSA,L]

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
#    ExpiresByType text/javascript "access plus 1 hour"
</IfModule>
