:host {
  display: flex;
  flex-wrap: none;

  justify-content: center;
  align-content: center;
  align-items: baseline;

  width: 100%;

  background-color: gray;
}

#form {
  flex-grow: 1;
  max-width: 400px;
  background-color: white;
}
