.panel {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: 1px solid rgb(0 0 0 / 12.5%);
  border-radius: 3px;
}

.panel > * {
  width: 100%;

  /* vertical horizontal */
  padding: 0.75rem 1.25rem;
}

.panel > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.75em;

  background-color: rgb(0 0 0 / 3%);
}

.panel > .header > label {
  text-align: center;
}

.panel > .body {
  display: flex;
  flex-direction: column;

  /* gap: 10px; */
}

.panel > .body > * {
  width: 100%;
}

.panel > * > img {
  height: 1.5em;
}
