<!DOCTYPE html>
<html>
  <head>
    <title>Cryptomedic</title>
    <meta charset='utf-8'>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      window.Polymer = {
        useNativeCSSProperties: true
      };
    </script>

    <script type='text/javascript' src='../bundle.js'></script>

    <!-- - - - - - - - - - - - - -->
    <!-- CSS - globals           -->
    <!-- - - - - - - - - - - - - -->
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/jquery-ui/themes/base/core.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/jquery-ui/themes/base/theme.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/jquery-ui/themes/base/controlgroup.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/jquery-ui/themes/base/datepicker.css">

    <!-- - - - - - - - - - - - - -->
    <!-- CSS - custom            -->
    <!-- - - - - - - - - - - - - -->
    <link rel="stylesheet" type="text/css" href="../static/css/application.css">

    <!-- - - - - - - - - - - - - -->
    <!-- JS - globals            -->
    <!-- - - - - - - - - - - - - -->

    <script type='text/javascript' src='../bower_components/webcomponentsjs/webcomponents-lite.js'></script> <!-- web components v0-->

    <script type='text/javascript' src='../bower_components/custom-elements/custom-elements.min.js'></script> <!-- web components v1 -->

    <script type='text/javascript' src='../bower_components/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='../bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='../bower_components/jquery-ui/jquery-ui.min.js'></script>
    <script type='text/javascript' src='../bower_components/jquery-ui/ui/widgets/datepicker.js'></script>
    <script type='text/javascript' src='../bower_components/html2canvas/build/html2canvas.min.js'></script>
    <script type='text/javascript' src='../bower_components/moment/min/moment.min.js'></script>

    <!-- - - - - - - - - - - - - -->
    <!-- JS - custom             -->
    <!-- - - - - - - - - - - - - -->
    <script type='text/javascript' src='../static/service-worker-registration.js'></script>
    <script type='text/javascript' src='../static/js/start.js'></script>

    <script type='text/javascript' src='../static/objects/exceptions.js'></script>

    <script type='text/javascript' src='../static/js/amd_stats.js'></script>
    <script type='text/javascript' src='../static/js/calculations.js'></script>
    <script type='text/javascript' src='../static/js/callbacks.js'></script>
    <script type='text/javascript' src='../static/js/date2CanonicString.js'></script>
    <script type='text/javascript' src='../static/js/form.js'></script>
    <script type='text/javascript' src='../static/js/goThere.js'></script>
    <script type='text/javascript' src='../static/js/html2canvas.js'></script>
    <script type='text/javascript' src='../static/js/nullify.js'></script>
    <script type='text/javascript' src='../static/js/prefs.js'></script>
    <script type='text/javascript' src='../static/js/setListFrom.js'></script>
    <script type='text/javascript' src='../static/js/template.js'></script>
    <script type='text/javascript' src='../static/js/timedMap.js'></script>
    <script type='text/javascript' src='../static/js/waitElement.js'></script>

    <script type='text/javascript' src='../static/models/0CRUD.js'></script>
    <script type='text/javascript' src='../static/models/Price.js'></script>

    <script type='text/javascript' src='../static/models/0FolderPage.js'></script>
    <script type='text/javascript' src='../static/models/0PatientRelated.js'></script>
    <script type='text/javascript' src='../static/models/Folder.js'></script>
    <script type='text/javascript' src='../static/models/Appointment.js'></script>
    <script type='text/javascript' src='../static/models/Bill.js'></script>
    <script type='text/javascript' src='../static/models/ClubFoot.js'></script>
    <script type='text/javascript' src='../static/models/OtherConsult.js'></script>
    <script type='text/javascript' src='../static/models/Patient.js'></script>
    <script type='text/javascript' src='../static/models/Payment.js'></script>
    <script type='text/javascript' src='../static/models/Picture.js'></script>
    <script type='text/javascript' src='../static/models/RicketConsult.js'></script>
    <script type='text/javascript' src='../static/models/Surgery.js'></script>

    <script type='text/javascript' src='../static/controllers/ctrl_allgraphics.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_file_appointment.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_file_bill.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_folder.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_graphic.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_home.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_login.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_reports.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_search.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_users.js'></script>
    <script type='text/javascript' src='../static/controllers/ctrl_prices.js'></script>
    <script type='text/javascript' src='../static/controllers/mainApp.js'></script>

    <!-- - - - - - - - - - - - - -->
    <!-- Web Elements - globals  -->
    <!-- - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - -->
    <!-- HTML Element - custom   -->
    <!-- - - - - - - - - - - - - -->
    <!-- <link rel="import" href="../static/elements/authorized.html"> -->
    <link rel="import" href="../bower_components/fetchfull-elements/src/fetchfull-element.html">
    <link rel="import" href="../static/elements/data-service.html">
    <link rel="import" href="../static/elements/loginStatus.html">

    <script type='text/javascript' src="../static/elements/jh-element.js"></script>

    <script type='text/javascript' src="../static/elements/jh-authorized.js"></script> <!-- Currently only an object -->
    <script type='text/javascript' src="../static/elements/jh-codage.js"></script>
    <script type='text/javascript' src="../static/elements/jh-script.js"></script>
    <script type='text/javascript' src="../static/elements/block-bill-category.js"></script>
    <script type='text/javascript' src="../static/elements/block-bill-line.js"></script>
    <script type='text/javascript' src="../static/elements/edit-price.js"></script>
    <script type='text/javascript' src="../static/elements/x-inline.js"></script>
    <script type='text/javascript' src="../static/elements/x-read.js"></script>
    <script type='text/javascript' src="../static/elements/x-read-boolean.js"></script>
    <script type='text/javascript' src="../static/elements/x-write.js"></script>
    <script type='text/javascript' src="../static/elements/x-write-list.js"></script>
  </head>
  <body ng-app="app_main" ng-controller="ctrl" id="ng-app" xxx-fullbleed xxx-unresolved>
    <!--  Navigation bar -->

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style='width: 100%'>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuMain">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id='menu_home' href="#/home" class="navbar-link">
                <jh-authorized ng-if="isAuthorized('application.open', authorizedList)">
                  <img src="../static/img/home.gif" height="20px"/>
                  Home
                </jh-authorized>
              </a>
            </li>
            <li><a id='menu_search' href="#/search" class="navbar-link">
              <jh-authorized ng-if="isAuthorized('folder.read', authorizedList)">
                <img src="../static/img/patientsSearch.gif" height="20px"/>
                Search a patient
              </jh-authorized>
            </a></li>
            <li><a id='menu_consults' href="#/reports/consultations" class="navbar-link">
              <jh-authorized ng-if="isAuthorized('planning.execute', authorizedList)">
                <img src="../static/img/consultOfDay.gif" height="20px"/>
                Consults of the day
              </jh-authorized>
            </a></li>
            <li><a id='bug_reporting' href="javascript:bug_reporting()" class="navbar-link">
              <img src="../static/img/bug.jpeg"/>
              Bug
            </a></li>
            <li><p class="navbar-text">
                <cryptomedic-login-status></cryptomedic-login-status>
            </p></li>
            <li class="dropdown">
              <a id='menu_more' href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                More<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a id='menu_users'  href='#/users'>
                  <jh-authorized ng-if="isAuthorized('users.manage', authorizedList)">
                    <img src="../static/img/users.png" height="20px"/>
                    Users
                  </jh-authorized>
                </a></li>
                <li><a id='menu_matrix' ng-href='{{apiUrl("/admin/securityMatrix")}}'>
                  <jh-authorized ng-if="isAuthorized('admin.securityMatrix', authorizedList)">
                    <img src="../static/img/matrix.png" height="20px"/>
                    Matrix
                  </jh-authorized>
                </a></li>
                <li><a id='menu_prices' href="#/prices" class="navbar-link">
                  <jh-authorized ng-if="isAuthorized('price.edit', authorizedList)">
                    <img src="../static/img/prices.png" height="20px"/>
                    Prices
                  </jh-authorized>
                </a></li>
                <li><a id='menu_reports' href="#/reports" class="navbar-link">
                  <jh-authorized ng-if="isAuthorized('reports.execute', authorizedList)">
                    <img src="../static/img/reports.gif" height="20px"/>
                    Reports
                  </jh-authorized>
                </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class='container-fluid'>
      <!--  Pending screen -->
      <cryptomedic-data-service id='dataService'>
        <div>
          <div ng-view></div>
        </div>
      </cryptomedic-data-service>
    </div>

    <!-- script here, so they are after the webpack loaded plugin -->

    <script type='text/javascript' src='../static/js/bugreporting.js'></script>
  </body>
</html>
