ExpiresByType text/cache-manifest "access plus 0 seconds"
ExpiresByType text/cache-manifest "access plus 0 seconds"
ExpiresByType image/jpg           "access plus 1 year"
ExpiresByType image/jpeg          "access plus 1 year"
ExpiresByType image/gif           "access plus 1 year"
ExpiresByType image/png           "access plus 1 year"

ExpiresByType text/css            "access plus 1 week"

ExpiresByType text/x-javascript   "access plus 1 day"
ExpiresByType application/javascript   "access plus 1 day"

RewriteRule ^$ index.html

RewriteRule index.php index.html
