<div class='container-fluid'>
	<div class='row'>
		<div class="col-lg-6">
			<fieldset>
	<legend>General data</legend>
	<table>
		<tr ng-class='{ emptyValue: !currentFile().Date}'>
 <td>Date</td>
 <td><span id='Date'>{{ currentFile().Date }}</span></td>
</tr>
		<tr ng-class='{ emptyValue: !currentFile().ExaminerName}'>
 <td>Examiner Name</td>
 <td><span id='ExaminerName'>{{ currentFile().ExaminerName }}</span></td>
</tr>
		<tr ng-class='{ emptyValue: !currentFile().Center}'>
 <td>Center</td>
 <td><span id='Center'>{{ currentFile().Center }}</span></td>
</tr>
		<tr class='notModeWrite'>
			<td>Age during consultation</td>
			<td><span catch-it ng-model="folder" tryit="currentFile().ageAtConsultTime()">{{result | number:0 }} years old at consultation time</span></td>
		</tr>
	</table>
</fieldset>
<br/>
<fieldset>
	<legend>Nutritional Data</legend>
	<table>
		<thead>
			<tr>
				<th/><th/>
				<th class='notModeWrite'>Standard deviation (statistic)</th>
			</tr>
		</thead>
		<tr ng-class='{ emptyValue: !currentFile().Weightkg}'>
			<td>Weight (kg)</td>
			<td class='tdright'><span id='Weightkg'>{{ currentFile().Weightkg }}</span></td>
			<td class='notModeWrite'><span catch-it ng-model="folder" tryit="currentFile().ds_weight()">{{result | number:2 }} ds</span></td>
		</tr><tr ng-class='{ emptyValue: !currentFile().Heightcm}'>
			<td>Height (cm)</td>
			<td class='tdright'><span id='Heightcm'>{{ currentFile().Heightcm }}</span></td>
			<td class='notModeWrite'><span catch-it ng-model="folder" tryit="currentFile().ds_height()">{{result | number:2 }} ds</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !currentFile().Brachialcircumferencecm}'>
 <td>Brachial circumference (cm)</td>
 <td><span id='Brachialcircumferencecm'>{{ currentFile().Brachialcircumferencecm }}</span></td>
</tr>
		<tr ng-class='{ emptyValue: !currentFile().Heightcm || !currentFile().Weightkg}'
				class='notModeWrite'
				>
			<td>Weight/Height Ratio</td>
			<td class='tdright'><span catch-it ng-model="folder" tryit="currentFile().wh()">{{result | number:2 }}</span></td>
			<td class='notModeWrite'><span catch-it ng-model="folder" tryit="currentFile().ds_weight_height()">{{result | number:2 }} ds</span></td>
		</tr><tr ng-class='{ emptyValue: !currentFile().Heightcm || !currentFile().Weightkg}'
				class='notModeWrite'
				>
			<td>BMI</td>
			<td class='tdright'><span catch-it ng-model="folder" tryit="currentFile().bmi()">{{result | number:2 }}</span></td>
			<td class='notModeWrite'><span catch-it ng-model="folder" tryit="currentFile().ds_bmi()">{{result | number:2 }} ds</span></td>
		</tr>
	</table>
</fieldset>
<!-- TODOJH: examiner name = list -->		 	<br>
			<fieldset>
				<legend>RicketsData</legend>
				<table>
					<tr ng-class='{ emptyValue: !currentFile().WalkingDifficulties}'>
 <td>WalkingDifficulties</td>
 <td><span id='RicketConsult_WalkingDifficulties'>{{ currentFile().WalkingDifficulties }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().Pain}'>
 <td>Pain</td>
 <td><span id='RicketConsult_Pain'>{{ currentFile().Pain }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().Wristenlargement}'>
 <td>Wristenlargement</td>
 <td><span id='RicketConsult_Wristenlargement'>{{ currentFile().Wristenlargement }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().Ribbeading}'>
 <td>Ribbeading</td>
 <td><span id='RicketConsult_Ribbeading'>{{ currentFile().Ribbeading }}</span></td>
</tr>
					<tr>
						<th colspan=3>
							<div class='alert alert-danger'>Warning! Left and right sides are opposite.</div>
						</th>
					</tr>
					<tr>
						<th>Legs</th>
						<th>Right</th>
						<th>Left</th>
					</tr>
					<tr ng-class='{ emptyValue: !currentFile().LeftLeg && !currentFile().RightLeg }'>
 <td>Leg</td>
 <td><span id='RicketConsult_RightLeg'>{{ currentFile().RightLeg }}</span></td>
 <td><span id='RicketConsult_LeftLeg'>{{ currentFile().LeftLeg }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().LeftlegAngle && !currentFile().RightlegAngle }'>
 <td>Leg Angle</td>
 <td><span id='RicketConsult_RightlegAngle'>{{ currentFile().RightlegAngle }}</span></td>
 <td><span id='RicketConsult_LeftlegAngle'>{{ currentFile().LeftlegAngle }}</span></td>
</tr>
					<tr>
						<td>Cross</td>
						<td></td>
						<td></td>
					</tr>
					<tr ng-class='{ emptyValue: !currentFile().CrossLeftT && !currentFile().CrossRightT }'>
 <td>RicketConsult.CrossT</td>
 <td><span id='RicketConsult_CrossRightT'>{{ currentFile().CrossRightT }}</span></td>
 <td><span id='RicketConsult_CrossLeftT'>{{ currentFile().CrossLeftT }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().CrossLeftF && !currentFile().CrossRightF }'>
 <td>RicketConsult.CrossF</td>
 <td><span id='RicketConsult_CrossRightF'>{{ currentFile().CrossRightF }}</span></td>
 <td><span id='RicketConsult_CrossLeftF'>{{ currentFile().CrossLeftF }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().IMICDistance}'>
 <td>IMICDistance</td>
 <td><span id='RicketConsult_IMICDistance'>{{ currentFile().IMICDistance }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().XRay}'>
 <td>XRay</td>
 <td><span id='RicketConsult_XRay'>{{ currentFile().XRay }}</span></td>
</tr>
				</table>
			</fieldset>
		</div>
		<div class="col-lg-6">
			<fieldset ng-controller='ctrl_patient' class='related'>
	<legend>Related Patient</legend>
		<table>
			<tr>
				<td rowspan='100' align='left' width='100px'>
					<img src="static/img/patient.gif">
					<br/>
					<a class='textbutton' href="#/folder/{{folder.getId()}}">
						<img src="static/img/go.gif">
						view
					</a>
				</td>
			</tr>
			<tr>
				<td><label>Reference</label></td>
				<td>
				<span id='Patient_entryyear'>{{ folder.getMainFile().entryyear }}</span>				-
				<span id='Patient_entryorder'>{{ folder.getMainFile().entryorder }}</span>				</td>
			</tr>
			<tr ng-class='{ emptyValue: !folder.getMainFile().Firstname}'>
 <td>Firstname</td>
 <td><span id='Patient_Firstname'>{{ folder.getMainFile().Firstname }}</span></td>
</tr>
			<tr ng-class='{ emptyValue: !folder.getMainFile().Lastname}'>
 <td>Lastname</td>
 <td><span id='Patient_Lastname'>{{ folder.getMainFile().Lastname }}</span></td>
</tr>
			<tr ng-class='{ emptyValue: !folder.getMainFile().Yearofbirth}'>
 <td>Year of birth</td>
 <td><span id='Patient_Yearofbirth'>{{ folder.getMainFile().Yearofbirth }}</span></td>
</tr>
			<tr ng-class='{ emptyValue: !folder.getMainFile().Sex}'>
 <td>Sex</td>
 <td><span id='Patient_Sex'>{{ folder.getMainFile().Sex }}</span></td>
</tr>
		</tbody>						
	</table>						
</fieldset>
			<fieldset>
				<legend>Conclusion</legend>
				<table>
					<tr ng-class='{ emptyValue: !currentFile().Nutrisupport}'>
 <td>Nutrisupport</td>
 <td><span id='RicketConsult_Nutrisupport' ng-show='currentFile().Nutrisupport'><img src='static/img/boolean-true.gif'></span><span id='RicketConsult_Nutrisupport' ng-hide='currentFile().Nutrisupport'><img src='static/img/boolean-false.gif'></span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().conclusion_medical_calcium500}'>
 <td>conclusion_medical_calcium500</td>
 <td><span id='RicketConsult_conclusion_medical_calcium500' ng-show='currentFile().conclusion_medical_calcium500'><img src='static/img/boolean-true.gif'></span><span id='RicketConsult_conclusion_medical_calcium500' ng-hide='currentFile().conclusion_medical_calcium500'><img src='static/img/boolean-false.gif'></span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().conclusion_medical_calcium1000}'>
 <td>conclusion_medical_calcium1000</td>
 <td><span id='RicketConsult_conclusion_medical_calcium1000' ng-show='currentFile().conclusion_medical_calcium1000'><img src='static/img/boolean-true.gif'></span><span id='RicketConsult_conclusion_medical_calcium1000' ng-hide='currentFile().conclusion_medical_calcium1000'><img src='static/img/boolean-false.gif'></span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().conclusion_medical_vitaminD}'>
 <td>conclusion_medical_vitaminD</td>
 <td><span id='RicketConsult_conclusion_medical_vitaminD' ng-show='currentFile().conclusion_medical_vitaminD'><img src='static/img/boolean-true.gif'></span><span id='RicketConsult_conclusion_medical_vitaminD' ng-hide='currentFile().conclusion_medical_vitaminD'><img src='static/img/boolean-false.gif'></span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().Surgery}'>
 <td>Surgery</td>
 <td><span id='RicketConsult_Surgery'>{{ currentFile().Surgery }}</span></td>
</tr>
					<tr ng-class='{ emptyValue: !currentFile().Brace}'>
 <td>Brace</td>
 <td><span id='RicketConsult_Brace'>{{ currentFile().Brace }}</span></td>
</tr>

																					<tr ng-class='{ emptyValue: !currentFile().Comments}'>
 <td>Other comments/treatment</td>
 <td><span id='Comments' style='white-space: pre'>{{ currentFile().Comments }}</span></td>
</tr>
	<tr ng-class='{ emptyValue: !currentFile().TreatmentEvaluation}'>
 <td>Treament evaluation</td>
 <td><span id='TreatmentEvaluation'>{{ currentFile().TreatmentEvaluation }}</span></td>
</tr>
	<tr ng-class='{ emptyValue: !currentFile().TreatmentFinished}'>
 <td>Treatment is finished</td>
 <td><span id='TreatmentFinished' ng-show='currentFile().TreatmentFinished'><img src='static/img/boolean-true.gif'></span><span id='TreatmentFinished' ng-hide='currentFile().TreatmentFinished'><img src='static/img/boolean-false.gif'></span></td>
</tr>
	<tr ng-class='{ emptyValue: !currentFile().Nextappointment}'>
 <td>Next Appointment</td>
 <td><span id='Nextappointment'>{{ currentFile().Nextappointment }}</span></td>
</tr>
	<tr ng-class='{ emptyValue: !currentFile().NextCenter}'>
 <td>Next Center</td>
 <td><span id='NextCenter'>{{ currentFile().NextCenter }}</span></td>
</tr>
				</table>
			</fieldset>
		</div>
	</div>
</div>