@if (!file) {
  <div>Loading...</div>
} @else {
  <app-file-panel [file]="file" [model]="'picture'">
    <ng-container headers>TODO </ng-container>
    <div class="two-columns">
      <div class="panel">
        <div>Informations</div>
        <div>
          <app-io type="date" label="Date" required [value]="file.date" />
          <app-io
            type="list"
            list-name="PictureType"
            label="Type"
            [value]="file.type"
          />
          <app-io type="string" label="Comment" [value]="file.type" />
          <app-io type="string" label="File" readonly [value]="file.type" />
        </div>
      </div>
      <div class="panel">
        <div>Preview</div>
        <div>
          <img
            id="content"
            [ngClass]="{ fullscreen: fullscreen }"
            src="{{ file.getPictureUrl() }}"
            (click)="toggleFullscreen()"
          />
        </div>
      </div>
    </div>
  </app-file-panel>
}
