AddType text/css .css
AddType text/javascript .js
AddType image/gif .gif
AddType image/png .png
AddType image/jpg .jpg
AddType image/jpg .jpeg

ExpiresActive 	  On
ExpiresDefault    "access plus 1 hour"
ExpiresByType	  text/css						"access plus 1 week"
ExpiresByType	  text/javascript				"access plus 1 hour"
ExpiresByType     image/gif   					"access plus 1 year"
ExpiresByType     image/png   					"access plus 1 year"
ExpiresByType     image/jpg   					"access plus 1 year"
ExpiresByType     application/json              A0
