
AddType text/css .css
AddType text/javascript .js
AddType image/gif .gif
AddType image/png .png
AddType image/jpg .jpg
AddType image/jpg .jpeg

<ifModule mod_expires.c>
    ExpiresActive 	  On
    ExpiresByType 	  text/html                     "A0"
    ExpiresByType     application/json              "A0"
    ExpiresByType     text/javascript				"A0"
    ExpiresByType	  text/css						"access plus 1 week"
    ExpiresDefault    "access plus 1 year"
</ifModule>
