<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">Home </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">Login </a>
      </li>
    </ul>
    <span>
      @if (currentUser) {
        <span class="navbar-text">
          {{ currentUser.username }}
        </span>
        <button (click)="logout()" class="btn btn-danger" type="submit">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      }
    </span>
  </nav>

  <div class="container">
    <h1>Hello</h1>
    AuthService: {{ authService.currentUser?.username ?? "unknown" }}<br />
    Direct: {{ currentUser?.username ?? "unknown" }}<br />
    Running connections: {{ httpService.running }}<br />
    Running errors: {{ httpService.errors | json }}<br />
    <router-outlet></router-outlet>
  </div>
</div>
