<div id="app">
  @if (authService.isAuthenticated()) {
    <nav
      class="navbar navbar-expand navbar-dark bg-dark justify-content-between"
    >
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link">Home </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/patients']" class="nav-link">Patients</a>
        </li>
      </ul>
      <span>
        <span id="current-user" class="navbar-text">
          {{ authService.currentUser!.username }}
        </span>
        <button
          id="logout"
          (click)="logout()"
          class="btn btn-danger"
          type="submit"
        >
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </span>
    </nav>
  }

  <div id="top">
    <router-outlet></router-outlet>
  </div>
  @if (httpService.running > 0) {
    <div data-testid="global-wait" class="cr-above">
      <div class="spinner-border" role="status"></div>
    </div>
  }
</div>
