[Unit]
Description=Mailhog autostart script (port 1025)
After=network.target
#Type=forking

[Service]
# Default http port: 8025
# -ui-bind-addr 0.0.0.0:8080 -api-bind-addr 0.0.0.0:8080

# Default smtp port: 1025
# -smtp-bind-addr :1025

ExecStart="/usr/local/sbin/mailhog" >> /tmp/mailhog.log 2>&1

[Install]
WantedBy=multi-user.target
