<table width="100%">
	<colgroup span="2" width="50%"></colgroup>
	<tbody>
		<tr>
			<td><label for="NonricketConsultDate" name="NonricketConsult.Date">Date</label></td>
			<td>{@read header="NonricketConsult.Date" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultPhysiotherapy61" name="NonricketConsult.Physiotherapy61">Physiotherapy</label></td>
			<td>{@read header="NonricketConsult.Physiotherapy61" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultPlaster62" name="NonricketConsult.Plaster62">Plaster</label></td>
			<td>{@read header="NonricketConsult.Plaster62" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultOrthopedicdevice65" name="NonricketConsult.Orthopedicdevice65">Orthopedic device</label></td>
			<td>{@read header="NonricketConsult.Orthopedicdevice65" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultSurgery66" name="NonricketConsult.Surgery66">Surgery</label></td>
			<td>{@read header="NonricketConsult.Surgery66" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultOthertreatment68" name="NonricketConsult.Othertreatment68">Other treatment</label></td>
			<td>{@read header="NonricketConsult.Othertreatment68" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultHeightcm" name="NonricketConsult.Heightcm">Heightcm (standing/lying) (cm)</label></td>
			<td>{@read header="NonricketConsult.Heightcm" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultWeightkg" name="NonricketConsult.Weightkg">Weight (kg)</label></td>
			<td>{@read header="NonricketConsult.Weightkg" /}</td>
		</tr><tr>
			<td><label for="NonricketConsultComment" name="NonricketConsult.Comment">Comment</label></td>
			<td>{@read header="NonricketConsult.Comment" /}</td>
		</tr>
	</tbody>
</table>
