<div class="login" ng-controller="ctrl_login">
	<div class="site-wrapper">
		<div class="site-wrapper-inner col-sm-offset-4 col-sm-4">
		<form class="form-signin" role="form">
    		<h2 class="form-signin-heading">Please sign in</h2>
    		<label for="username">Username</label>
        	<input id="username" ng-model="username" class="form-control" placeholder="Username" required autofocus>
    		<label for="password">Password</label>
        	<input id="password" ng-model="password" class="form-control" placeholder="Password" required type="password">
			<br>
			<div ng-if="loginError">
			    <div class="alert alert-danger">
        			<a href="#" class="close" data-dismiss="alert">&times;</a>
        			Invalid username/password. Please try again
				</div>
			</div>
			<br>
        	<button ng-disabled="{{pending}}" id="login" ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      	</form>
      </div>
    </div>
  </div>
</div>