@if (!file) {
  <div>Loading...</div>
} @else {
  <div class="two-columns">
    <div class="panel">
      <div>Informations</div>
      <div>
        <app-io type="date" label="Date" required [value]="file.date" />
        <app-io
          type="list"
          label="Center"
          list-name="Centers"
          [value]="file.center"
        />
        <app-io
          type="list"
          label="Examiner"
          list-name="Examiners"
          [value]="file.examiner"
        />
        <app-io
          type="number"
          read-only
          label="Age at consultation time"
          [value]="file.getAgeAtThatTime()"
        />
      </div>
    </div>
    <div class="panel">
      <div>Nutritional data</div>
      <div>
        <app-io type="number" label="Heigth (cm)" [value]="file.height_cm" />
        <app-io type="number" label="Weight (kg)" [value]="file.weight_kg" />
        <app-io
          type="number"
          label="Brachial Circumference (cm)"
          [value]="file.brachial_circumference_cm"
        />
        <app-io type="number" read-only note label="W/H" [value]="file.wh()" />
        <app-io type="number" read-only note label="BMI" [value]="file.bmi()" />
      </div>
    </div>
  </div>
  <ng-content></ng-content>
  <div class="panel">
    <div>Conclusions</div>
    <div>
      <app-io type="text" label="Comments" [value]="file.comments" />
      <app-io
        type="boolean"
        label="Suggested for surgery"
        [value]="file.suggested_for_surgery"
      />
      <app-io
        type="list"
        list-name="TreatmentEvaluation"
        label="Treatment Evaluation"
        [value]="file.treatment_evaluation"
      />
      <app-io
        type="boolean"
        label="Treatment Finished"
        [value]="file.treatment_finished"
      />
    </div>
  </div>
}
