@if (!patient) {
  <div>Initializing...</div>
} @else {
  <app-patient-file [file]="patient"></app-patient-file>
  @for (file of patient.getRelated(); track file.uuid) {
    @switch (file.getTechnicalName()) {
      @case ("appointment") {
        <app-appointment [file]="$any(file)" />
      }
      @case ("bill") {
        <app-bill [file]="$any(file)" />
      }
      @case ("consult_clubfoot") {
        <app-consult-clubfoot [file]="$any(file)" />
      }
      @case ("consult_other") {
        <app-consult-other [file]="$any(file)" />
      }
      @case ("consult_ricket") {
        <app-consult-ricket [file]="$any(file)" />
      }
      @case ("picture") {
        <app-picture [file]="$any(file)" />
      }
      @case ("surgery") {
        <app-surgery [file]="$any(file)" />
      }
      @default {
        <app-file-panel [file]="file">
          UNKNOWN: {{ file.uuid }}
        </app-file-panel>
      }
    }
  }
}
