@if (!patient) {
  <div>Loading</div>
} @else {
  <app-file-panel [file]="patient" [opened]="true">
    <ng-container headers>
      <span> {{ patient.entry_year }}-{{ patient.entry_order }} </span>
      <span className="no-mobile">{{ patient.name }}</span>
      <span className="no-mobile">{{ patient.year_of_birth }}</span>
    </ng-container>

    <div class="two-columns">
      <div class="panel">
        <div>Identification</div>
        <div>
          <app-io
            type="string"
            label="Entry Year"
            [value]="patient.entry_year"
          />
          <app-io
            type="string"
            label="Entry Order"
            [value]="patient.entry_order"
          />
          <app-io type="string" label="Name" [value]="patient.name" />
          <app-io type="list" label="Sex" [value]="patient.sex" />
          <app-io
            type="number"
            label="Year of birth"
            [value]="patient.year_of_birth"
          />
          <app-io
            type="number"
            label="Age today"
            [value]="patient.ageAtReference()"
          />
          <app-io type="string" label="Pathology" [value]="patient.pathology" />
          <app-io type="note" label="Comments" [value]="patient.comments" />
        </div>
      </div>
      <div class="panel">
        <div>Address</div>
        <div>
          <app-io type="string" label="Phone" [value]="patient.phone" />
          <app-io
            type="list"
            label="District"
            [value]="patient.address_district"
          />
          <app-io type="list" label="Union" [value]="patient.address_union" />
          <app-io
            type="list"
            label="Upazilla"
            [value]="patient.address_upazilla"
          />
          <app-io
            type="note"
            label="Address Comments"
            [value]="patient.address_comments"
          />
        </div>
      </div>
    </div>
  </app-file-panel>
  <app-file-panel
    *ngFor="let file of patient.getRelated()"
    [file]="file"
    [opened]="false"
  >
    {{ file.uuid }}
  </app-file-panel>

  <pre>
  {{ patient | json }}
</pre
  >
}
