@if (!patient) {
  <div>Loading</div>
} @else {
  <app-file-panel [file]="patient" [opened]="true">
    <ng-container headers>
      <span> {{ patient.entry_year }}-{{ patient.entry_order }} </span>
      <span className="no-mobile">{{ patient.name }}</span>
      <span className="no-mobile">{{ patient.year_of_birth }}</span>
    </ng-container>

    <!-- <TwoColumns>
    <Panel fixed label="Identification">
      <IO.Number label="Entry Year" value={file.entry_year} />
      <IO.Number label="Entry Order" value={file.entry_order} />
      <IO.String label="Name" value={file.name} />
      <IO.String label="Sex" value={file.sex} />
      <IO.Number label="Year of birth" value={file.year_of_birth} />
      <IO.String
        label="Age today"
        value={file.actualAge() as string}
        variable
      />
      <IO.String label="Pathology" value={file.pathology} />
      <IO.Text label="Comments" value={file.comments} />
    </Panel>
    <Panel fixed label="Address">
      <IO.String width={1} label="Phone" value={file.phone} />
      <IO.String label="District" value={file.address_district} />
      <IO.String label="Union" value={file.address_union} />
      <IO.String label="Upazilla" value={file.address_upazilla} />
      <IO.String label="Address Comments" value={file.address_comments} />
    </Panel>
  </TwoColumns> -->
  </app-file-panel>
  <app-file-panel
    *ngFor="let file of patient.getRelated()"
    [file]="file"
    [opened]="false"
  >
    {{ file.uuid }}
  </app-file-panel>

  <pre>
  {{ patient | json }}
</pre
  >
}
