<table style="width: 100%">
  <tbody>
    <tr
      ng-class='{ "empty-value": !folder.getFileRelatedToPatient($index).next_appointment}'
    >
      <td>Next Appointment</td>
      <td>
        <span id="Appointment_next_appointment" name="next_appointment"
          >{{ folder.getFileRelatedToPatient($index).next_appointment }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFileRelatedToPatient($index).next_center}'
    >
      <td>Next Center</td>
      <td>
        <span id="Appointment_next_center" name="next_center"
          >{{ folder.getFileRelatedToPatient($index).next_center }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
