<table style='width: 100%'>
	<colgroup span="2" width="50%"></colgroup>
	<tbody>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).Sociallevel}'>
			<td>Social Level</td>
			<td><span id='Bill_Sociallevel' name='Sociallevel'>{{ folder.getFilesRelatedToPatient($index).Sociallevel }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).total_asked}'>
			<td>Total asked</td>
			<td><span id='Bill_total_asked'>{{ folder.getFilesRelatedToPatient($index).total_asked }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).consult_CDC_consultation_Bengali_Doctor}'>
			<td>CDC consultation Bengali Doctor</td>
			<td><span id='Bill_consult_CDC_consultation_Bengali_Doctor'>{{ folder.getFilesRelatedToPatient($index).consult_CDC_consultation_Bengali_Doctor }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).consult_CDC_consultation_Doctor}'>
			<td>CDC consultation Doctor</td>
			<td><span id='Bill_consult_CDC_consultation_Doctor'>{{ folder.getFilesRelatedToPatient($index).consult_CDC_consultation_Doctor }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).consult_CDC_consultation_physio}'>
			<td>CDC consultation physio</td>
			<td><span id='Bill_consult_CDC_consultation_physio'>{{ folder.getFilesRelatedToPatient($index).consult_CDC_consultation_physio }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).consult_ClubFoot_Follow_up}'>
			<td>ClubFoot Follow up</td>
			<td><span id='Bill_consult_ClubFoot_Follow_up'>{{ folder.getFilesRelatedToPatient($index).consult_ClubFoot_Follow_up }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).consult_field_visit}'>
			<td>field visit</td>
			<td><span id='Bill_consult_field_visit'>{{ folder.getFilesRelatedToPatient($index).consult_field_visit }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).consult_give_appointment}'>
			<td>give appointment</td>
			<td><span id='Bill_consult_give_appointment'>{{ folder.getFilesRelatedToPatient($index).consult_give_appointment }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).consult_home_visit}'>
			<td>home visit</td>
			<td><span id='Bill_consult_home_visit'>{{ folder.getFilesRelatedToPatient($index).consult_home_visit }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).medecine_calcium_30x500mg}'>
			<td>calcium 30x500mg</td>
			<td><span id='Bill_medecine_calcium_30x500mg'>{{ folder.getFilesRelatedToPatient($index).medecine_calcium_30x500mg }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).medecine_medecine}'>
			<td>medecine</td>
			<td><span id='Bill_medecine_medecine'>{{ folder.getFilesRelatedToPatient($index).medecine_medecine }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).medecine_vitamineD}'>
			<td>vitamineD</td>
			<td><span id='Bill_medecine_vitamineD'>{{ folder.getFilesRelatedToPatient($index).medecine_vitamineD }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_CMOSH_follow_up}'>
			<td>CMOSH follow up</td>
			<td><span id='Bill_other_CMOSH_follow_up'>{{ folder.getFilesRelatedToPatient($index).other_CMOSH_follow_up }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_X_Ray}'>
			<td>X Ray</td>
			<td><span id='Bill_other_X_Ray'>{{ folder.getFilesRelatedToPatient($index).other_X_Ray }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_group_physiotherapy}'>
			<td>group physiotherapy</td>
			<td><span id='Bill_other_group_physiotherapy'>{{ folder.getFilesRelatedToPatient($index).other_group_physiotherapy }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_make_long_plaster}'>
			<td>make long plaster</td>
			<td><span id='Bill_other_make_long_plaster'>{{ folder.getFilesRelatedToPatient($index).other_make_long_plaster }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_make_short_plaster}'>
			<td>make short plaster</td>
			<td><span id='Bill_other_make_short_plaster'>{{ folder.getFilesRelatedToPatient($index).other_make_short_plaster }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_making_dressing}'>
			<td>making dressing</td>
			<td><span id='Bill_other_making_dressing'>{{ folder.getFilesRelatedToPatient($index).other_making_dressing }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_making_plaster}'>
			<td>making plaster</td>
			<td><span id='Bill_other_making_plaster'>{{ folder.getFilesRelatedToPatient($index).other_making_plaster }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_microbus}'>
			<td>microbus</td>
			<td><span id='Bill_other_microbus'>{{ folder.getFilesRelatedToPatient($index).other_microbus }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_nutritionalAdvice}'>
			<td>nutritionalAdvice</td>
			<td><span id='Bill_other_nutritionalAdvice'>{{ folder.getFilesRelatedToPatient($index).other_nutritionalAdvice }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_nutritionalSupport}'>
			<td>nutritionalSupport</td>
			<td><span id='Bill_other_nutritionalSupport'>{{ folder.getFilesRelatedToPatient($index).other_nutritionalSupport }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_physiotherapy}'>
			<td>physiotherapy</td>
			<td><span id='Bill_other_physiotherapy'>{{ folder.getFilesRelatedToPatient($index).other_physiotherapy }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_physiotherapy_adult}'>
			<td>physiotherapy adult</td>
			<td><span id='Bill_other_physiotherapy_adult'>{{ folder.getFilesRelatedToPatient($index).other_physiotherapy_adult }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_physiotherapy_child}'>
			<td>physiotherapy child</td>
			<td><span id='Bill_other_physiotherapy_child'>{{ folder.getFilesRelatedToPatient($index).other_physiotherapy_child }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_Other_consultation_care}'>
			<td>Other consultation care</td>
			<td><span id='Bill_other_Other_consultation_care'>{{ folder.getFilesRelatedToPatient($index).other_Other_consultation_care }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_Other_dressing}'>
			<td>Other dressing</td>
			<td><span id='Bill_other_Other_dressing'>{{ folder.getFilesRelatedToPatient($index).other_Other_dressing }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).other_Other_plaster}'>
			<td>Other plaster</td>
			<td><span id='Bill_other_Other_plaster'>{{ folder.getFilesRelatedToPatient($index).other_Other_plaster }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Abdominal_corset_belt}'>
			<td>Abdominal corset belt</td>
			<td><span id='Bill_workshop_Abdominal_corset_belt'>{{ folder.getFilesRelatedToPatient($index).workshop_Abdominal_corset_belt }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Arch_support}'>
			<td>Arch support</td>
			<td><span id='Bill_workshop_Arch_support'>{{ folder.getFilesRelatedToPatient($index).workshop_Arch_support }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_BAFO_night}'>
			<td>BAFO night</td>
			<td><span id='Bill_workshop_BAFO_night'>{{ folder.getFilesRelatedToPatient($index).workshop_BAFO_night }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_BAFO_walking}'>
			<td>BAFO walking</td>
			<td><span id='Bill_workshop_BAFO_walking'>{{ folder.getFilesRelatedToPatient($index).workshop_BAFO_walking }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_BHKAFO_Drop_lock_single_axis}'>
			<td>BHKAFO Drop lock single axis</td>
			<td><span id='Bill_workshop_BHKAFO_Drop_lock_single_axis'>{{ folder.getFilesRelatedToPatient($index).workshop_BHKAFO_Drop_lock_single_axis }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_BHKAFO_night}'>
			<td>BHKAFO night</td>
			<td><span id='Bill_workshop_BHKAFO_night'>{{ folder.getFilesRelatedToPatient($index).workshop_BHKAFO_night }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_BHKAFO_walking}'>
			<td>BHKAFO walking</td>
			<td><span id='Bill_workshop_BHKAFO_walking'>{{ folder.getFilesRelatedToPatient($index).workshop_BHKAFO_walking }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_BKAFO_night}'>
			<td>BKAFO night</td>
			<td><span id='Bill_workshop_BKAFO_night'>{{ folder.getFilesRelatedToPatient($index).workshop_BKAFO_night }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_BKAFO_walking}'>
			<td>BKAFO walking</td>
			<td><span id='Bill_workshop_BKAFO_walking'>{{ folder.getFilesRelatedToPatient($index).workshop_BKAFO_walking }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_CP_chair}'>
			<td>CP chair</td>
			<td><span id='Bill_workshop_CP_chair'>{{ folder.getFilesRelatedToPatient($index).workshop_CP_chair }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_CP_standing_table}'>
			<td>CP standing table</td>
			<td><span id='Bill_workshop_CP_standing_table'>{{ folder.getFilesRelatedToPatient($index).workshop_CP_standing_table }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Cervical_Collar}'>
			<td>Cervical Collar</td>
			<td><span id='Bill_workshop_Cervical_Collar'>{{ folder.getFilesRelatedToPatient($index).workshop_Cervical_Collar }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Compensation_sole}'>
			<td>Compensation sole</td>
			<td><span id='Bill_workshop_Compensation_sole'>{{ folder.getFilesRelatedToPatient($index).workshop_Compensation_sole }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Crutch_a_pair}'>
			<td>Crutch a pair</td>
			<td><span id='Bill_workshop_Crutch_a_pair'>{{ folder.getFilesRelatedToPatient($index).workshop_Crutch_a_pair }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Crutch_a_piece}'>
			<td>Crutch a piece</td>
			<td><span id='Bill_workshop_Crutch_a_piece'>{{ folder.getFilesRelatedToPatient($index).workshop_Crutch_a_piece }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_DDB_splint}'>
			<td>DDB splint</td>
			<td><span id='Bill_workshop_DDB_splint'>{{ folder.getFilesRelatedToPatient($index).workshop_DDB_splint }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Finger_splint}'>
			<td>Finger splint</td>
			<td><span id='Bill_workshop_Finger_splint'>{{ folder.getFilesRelatedToPatient($index).workshop_Finger_splint }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Hand_splint}'>
			<td>Hand splint</td>
			<td><span id='Bill_workshop_Hand_splint'>{{ folder.getFilesRelatedToPatient($index).workshop_Hand_splint }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Knee_brace}'>
			<td>Knee brace</td>
			<td><span id='Bill_workshop_Knee_brace'>{{ folder.getFilesRelatedToPatient($index).workshop_Knee_brace }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Matetarsal_pade}'>
			<td>Matetarsal pade</td>
			<td><span id='Bill_workshop_Matetarsal_pade'>{{ folder.getFilesRelatedToPatient($index).workshop_Matetarsal_pade }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Orthoshoes_with_bar}'>
			<td>Orthoshoes with bar</td>
			<td><span id='Bill_workshop_Orthoshoes_with_bar'>{{ folder.getFilesRelatedToPatient($index).workshop_Orthoshoes_with_bar }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Orthoshoes_without_bar}'>
			<td>Orthoshoes without bar</td>
			<td><span id='Bill_workshop_Orthoshoes_without_bar'>{{ folder.getFilesRelatedToPatient($index).workshop_Orthoshoes_without_bar }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Reparing}'>
			<td>Reparing</td>
			<td><span id='Bill_workshop_Reparing'>{{ folder.getFilesRelatedToPatient($index).workshop_Reparing }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Supinator_corner}'>
			<td>Supinator corner</td>
			<td><span id='Bill_workshop_Supinator_corner'>{{ folder.getFilesRelatedToPatient($index).workshop_Supinator_corner }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_UAFO_night}'>
			<td>UAFO night</td>
			<td><span id='Bill_workshop_UAFO_night'>{{ folder.getFilesRelatedToPatient($index).workshop_UAFO_night }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_UAFO_walking}'>
			<td>UAFO walking</td>
			<td><span id='Bill_workshop_UAFO_walking'>{{ folder.getFilesRelatedToPatient($index).workshop_UAFO_walking }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_UHKAFO_night}'>
			<td>UHKAFO night</td>
			<td><span id='Bill_workshop_UHKAFO_night'>{{ folder.getFilesRelatedToPatient($index).workshop_UHKAFO_night }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_UHKAFO_walking}'>
			<td>UHKAFO walking</td>
			<td><span id='Bill_workshop_UHKAFO_walking'>{{ folder.getFilesRelatedToPatient($index).workshop_UHKAFO_walking }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_UKAFO_night}'>
			<td>UKAFO night</td>
			<td><span id='Bill_workshop_UKAFO_night'>{{ folder.getFilesRelatedToPatient($index).workshop_UKAFO_night }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_UKAFO_walking}'>
			<td>UKAFO walking</td>
			<td><span id='Bill_workshop_UKAFO_walking'>{{ folder.getFilesRelatedToPatient($index).workshop_UKAFO_walking }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Walker_with_wheel}'>
			<td>Walker with wheel</td>
			<td><span id='Bill_workshop_Walker_with_wheel'>{{ folder.getFilesRelatedToPatient($index).workshop_Walker_with_wheel }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Walker_without_wheel}'>
			<td>Walker without wheel</td>
			<td><span id='Bill_workshop_Walker_without_wheel'>{{ folder.getFilesRelatedToPatient($index).workshop_Walker_without_wheel }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Wheel_chair}'>
			<td>Wheel chair</td>
			<td><span id='Bill_workshop_Wheel_chair'>{{ folder.getFilesRelatedToPatient($index).workshop_Wheel_chair }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Wirst_splint}'>
			<td>Wirst splint</td>
			<td><span id='Bill_workshop_Wirst_splint'>{{ folder.getFilesRelatedToPatient($index).workshop_Wirst_splint }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_chair_china}'>
			<td>chair china</td>
			<td><span id='Bill_workshop_chair_china'>{{ folder.getFilesRelatedToPatient($index).workshop_chair_china }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_crutch_alumenium}'>
			<td>crutch alumenium</td>
			<td><span id='Bill_workshop_crutch_alumenium'>{{ folder.getFilesRelatedToPatient($index).workshop_crutch_alumenium }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_fracture_brace}'>
			<td>fracture brace</td>
			<td><span id='Bill_workshop_fracture_brace'>{{ folder.getFilesRelatedToPatient($index).workshop_fracture_brace }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_leg_truction}'>
			<td>leg truction</td>
			<td><span id='Bill_workshop_leg_truction'>{{ folder.getFilesRelatedToPatient($index).workshop_leg_truction }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_lifspring_afo}'>
			<td>lifspring afo</td>
			<td><span id='Bill_workshop_lifspring_afo'>{{ folder.getFilesRelatedToPatient($index).workshop_lifspring_afo }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_mailwalke_brace}'>
			<td>mailwalke brace</td>
			<td><span id='Bill_workshop_mailwalke_brace'>{{ folder.getFilesRelatedToPatient($index).workshop_mailwalke_brace }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_samainto_brace}'>
			<td>samainto brace</td>
			<td><span id='Bill_workshop_samainto_brace'>{{ folder.getFilesRelatedToPatient($index).workshop_samainto_brace }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_smo}'>
			<td>smo</td>
			<td><span id='Bill_workshop_smo'>{{ folder.getFilesRelatedToPatient($index).workshop_smo }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_thoracic_brace}'>
			<td>thoracic brace</td>
			<td><span id='Bill_workshop_thoracic_brace'>{{ folder.getFilesRelatedToPatient($index).workshop_thoracic_brace }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).workshop_Other_orthodevice}'>
			<td>Other orthodevice</td>
			<td><span id='Bill_workshop_Other_orthodevice'>{{ folder.getFilesRelatedToPatient($index).workshop_Other_orthodevice }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_Burn_release}'>
			<td>Burn release</td>
			<td><span id='Bill_surgical_Burn_release'>{{ folder.getFilesRelatedToPatient($index).surgical_Burn_release }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_PMR_club_club_foot_bi}'>
			<td>PMR club club foot bi</td>
			<td><span id='Bill_surgical_PMR_club_club_foot_bi'>{{ folder.getFilesRelatedToPatient($index).surgical_PMR_club_club_foot_bi }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_PMR_club_foot}'>
			<td>PMR club foot</td>
			<td><span id='Bill_surgical_PMR_club_foot'>{{ folder.getFilesRelatedToPatient($index).surgical_PMR_club_foot }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_Pin_removal}'>
			<td>Pin removal</td>
			<td><span id='Bill_surgical_Pin_removal'>{{ folder.getFilesRelatedToPatient($index).surgical_Pin_removal }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_burn_little_release}'>
			<td>burn little release</td>
			<td><span id='Bill_surgical_burn_little_release'>{{ folder.getFilesRelatedToPatient($index).surgical_burn_little_release }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_epiphysiodesis}'>
			<td>epiphysiodesis</td>
			<td><span id='Bill_surgical_epiphysiodesis'>{{ folder.getFilesRelatedToPatient($index).surgical_epiphysiodesis }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_epiphysiodesis_bi}'>
			<td>epiphysiodesis bi</td>
			<td><span id='Bill_surgical_epiphysiodesis_bi'>{{ folder.getFilesRelatedToPatient($index).surgical_epiphysiodesis_bi }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_osteotomy}'>
			<td>osteotomy</td>
			<td><span id='Bill_surgical_osteotomy'>{{ folder.getFilesRelatedToPatient($index).surgical_osteotomy }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_osteotomy_bi}'>
			<td>osteotomy bi</td>
			<td><span id='Bill_surgical_osteotomy_bi'>{{ folder.getFilesRelatedToPatient($index).surgical_osteotomy_bi }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_percutaneous_AL_club_foot}'>
			<td>percutaneous AL club foot</td>
			<td><span id='Bill_surgical_percutaneous_AL_club_foot'>{{ folder.getFilesRelatedToPatient($index).surgical_percutaneous_AL_club_foot }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_percutaneous_achil_tenotomy_bi_cdc}'>
			<td>percutaneous achil tenotomy bi cdc</td>
			<td><span id='Bill_surgical_percutaneous_achil_tenotomy_bi_cdc'>{{ folder.getFilesRelatedToPatient($index).surgical_percutaneous_achil_tenotomy_bi_cdc }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_percutaneous_achil_tenotomy_bi_cmosh}'>
			<td>percutaneous achil tenotomy bi cmosh</td>
			<td><span id='Bill_surgical_percutaneous_achil_tenotomy_bi_cmosh'>{{ folder.getFilesRelatedToPatient($index).surgical_percutaneous_achil_tenotomy_bi_cmosh }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_percutaneous_achil_tenotomy_uni_cdc}'>
			<td>percutaneous achil tenotomy uni cdc</td>
			<td><span id='Bill_surgical_percutaneous_achil_tenotomy_uni_cdc'>{{ folder.getFilesRelatedToPatient($index).surgical_percutaneous_achil_tenotomy_uni_cdc }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_polio_AL}'>
			<td>polio AL</td>
			<td><span id='Bill_surgical_polio_AL'>{{ folder.getFilesRelatedToPatient($index).surgical_polio_AL }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_polio_achileus_Achileus_lenthening_bi}'>
			<td>polio achileus Achileus lenthening bi</td>
			<td><span id='Bill_surgical_polio_achileus_Achileus_lenthening_bi'>{{ folder.getFilesRelatedToPatient($index).surgical_polio_achileus_Achileus_lenthening_bi }}</span></td>
		</tr>
		<tr ng-class='{ emptyValue: !folder.getFilesRelatedToPatient($index).surgical_other_operation}'>
			<td>other operation</td>
			<td><span id='Bill_surgical_other_operation'>{{ folder.getFilesRelatedToPatient($index).surgical_other_operation }}</span></td>
		</tr>
	</tbody>
</table>
