<!-- xxx <x-react-folder-summary x-react-inject-folder></x-react-folder-summary> -->
<table id="table_summary" class="summary table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Element</th>
      <th>Date</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="f in folder.getFilesRelatedToPatient()">
      <td>#{{$index}}</td>
      <td>
        <x-button
          href="#/folder/{{folder.getId()}}/file/{{f.getModel()}}/{{f.id}}"
          style="width: 100%"
        >
          {{f.getModel()}}
        </x-button>
      </td>
      <td>{{f.date | date:'longDate' }}</td>
      <td>
        <span
          ng-include="template(f.getModel().toLowerCase(), 'summary')"
        ></span>
      </td>
    </tr>
  </tbody>
</table>
