<h1>Add a file</h1>
<div class="alert alert-danger" role="alert">
  This is a legacy place. It will disappear shortly. Please use the "add" button
  on top of the summary.
</div>

<x-button id="add_bill" to-route="#/folder/{{patient_id}}/file/Bill">
  Add a bill </x-button
><br />
<x-button
  id="add_ricket_consult"
  to-route="#/folder/{{patient_id}}/file/RicketConsult"
>
  Add a ricket consultation </x-button
><br />
<x-button id="add_clubfoot" to-route="#/folder/{{patient_id}}/file/ClubFoot">
  Add a club foot consultation </x-button
><br />
<x-button
  id="add_other_consult"
  to-route="#/folder/{{patient_id}}/file/OtherConsult"
>
  Add a 'other' type of consultation </x-button
><br />
<x-button id="add_picture" to-route="#/folder/{{patient_id}}/file/Picture">
  Add a picture </x-button
><br />
<x-button id="add_surgery" to-route="#/folder/{{patient_id}}/file/Surgery">
  Add a surgery </x-button
><br />
<div class="alert alert-danger" role="alert">
  Add an appointment: not available on this page anymore. Please use the add
  button.
</div>
<br />
