<div ng-if='!edit'>
  <div class="alert alert-info">
    Prices have a period of validity: they are valid from &lt;beginning date&gt; to &lt;end date&gt;<br>
    A price can be modified only if the &lt;beginning date&gt; is still in the future (5 days from now)<br>
    To create a new price list:<br>
    <ul>
      <li>Generate a new price list, and choose the &lt;beginning date&gt;.</li>
      <li>Specify the various price items.</li>
    </ul>
    You can delete the price list, if it is necessary.
  </div>

  <table class='table table-hover table-bordered tablesorter reporting'>
    <thead>
      <tr>
        <th>Beginning date</th>
        <th ng-repeat='p in prices'>{{p['datefrom']}}</th>
      </tr>
      <tr>
        <th>End date</th>
        <th ng-repeat='p in prices'>{{p['dateto']}}</th>
      </tr>
      <tr>
        <th>Modified by</th>
        <th ng-repeat='p in prices'>{{p['lastuser']}}</th>
      </tr>
      <tr>
        <th></th>
        <th ng-repeat='p in prices'>
          <span ng-if='p["_editable"]'>
            <span id='button_cancel' class="btn btn-default" ng-click="actionEdit($index)">Edit</span>
          </span>
          <span ng-if='!p["_editable"]'>
            Locked
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='k in getElements()'>
        <td>{{k}}</td>
        <td ng-repeat='p in prices'>
          <span ng-if='p[k]<=0'>-</span>
          <span ng-if='p[k]>1'>{{p[k]}}</span>
          <span ng-if='p[k]==1'>free price</span>
        </td>
      </tr>
    </tbody>
  </table>
<!--   <span class='btn btn-default' ng-click='doAdd()'>Add a new user</span>
  <a class='btn btn-default' ng-href='mailto:{{emailAll()}}'>Email everybody</a>
 -->
</div>
