<table style="width: 100%">
  <colgroup span="2" width="50%"></colgroup>
  <tbody>
    <tr>
      <td>
        <img
          width="50px"
          ng-src="{{folder.getFilesRelatedToPatient($index).getThumbnailUrl()}}"
        />
      </td>
      <td>
        <span id="Picture_comment" style="white-space: pre"
          >{{ folder.getFilesRelatedToPatient($index).comment }}</span
        >
      </td>
    </tr>
    <tr ng-class='{ "empty-value": !folder.getPatient().Name}'>
      <td>Type</td>
      <td>
        <span>{{ folder.getFilesRelatedToPatient($index).type }}</span>
      </td>
    </tr>
  </tbody>
</table>
