<table style="width: 100%">
  <tbody>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).right_leg}'
    >
      <td>Right Leg</td>
      <td>
        <span id="RicketConsult_right_leg" name="right_leg"
          >{{ folder.getFilesRelatedToPatient($index).right_leg }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).right_leg_angle}'
    >
      <td>Right Leg Angle</td>
      <td>
        <span id="RicketConsult_right_leg_angle"
          >{{ folder.getFilesRelatedToPatient($index).right_leg_angle }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).left_leg}'
    >
      <td>Left Leg</td>
      <td>
        <span id="RicketConsult_left_leg" name="left_leg"
          >{{ folder.getFilesRelatedToPatient($index).left_leg }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).left_leg_angle}'
    >
      <td>Left Leg Angle</td>
      <td>
        <span id="RicketConsult_left_leg_angle"
          >{{ folder.getFilesRelatedToPatient($index).left_leg_angle }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).comments}'
    >
      <td>Commentary</td>
      <td>
        <span id="RicketConsult_comments" style="white-space: pre"
          >{{ folder.getFilesRelatedToPatient($index).comments }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).height_cm}'
    >
      <td>Height (cm)</td>
      <td>
        <span id="RicketConsult_height_cm"
          >{{ folder.getFilesRelatedToPatient($index).height_cm }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).weight_kg}'
    >
      <td>Weight (kg)</td>
      <td>
        <span id="RicketConsult_weight_kg"
          >{{ folder.getFilesRelatedToPatient($index).weight_kg }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
