<table style="width: 100%">
  <tbody>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).RightLeg}'
    >
      <td>Right Leg</td>
      <td>
        <span id="RicketConsult_RightLeg" name="RightLeg"
          >{{ folder.getFilesRelatedToPatient($index).RightLeg }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).RightlegAngle}'
    >
      <td>Right Leg Angle</td>
      <td>
        <span id="RicketConsult_RightlegAngle"
          >{{ folder.getFilesRelatedToPatient($index).RightlegAngle }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).LeftLeg}'
    >
      <td>Left Leg</td>
      <td>
        <span id="RicketConsult_LeftLeg" name="LeftLeg"
          >{{ folder.getFilesRelatedToPatient($index).LeftLeg }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).LeftlegAngle}'
    >
      <td>Left Leg Angle</td>
      <td>
        <span id="RicketConsult_LeftlegAngle"
          >{{ folder.getFilesRelatedToPatient($index).LeftlegAngle }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).comments}'
    >
      <td>Commentary</td>
      <td>
        <span id="RicketConsult_Comments" style="white-space: pre"
          >{{ folder.getFilesRelatedToPatient($index).comments }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).Heightcm}'
    >
      <td>Height (cm)</td>
      <td>
        <span id="RicketConsult_Heightcm"
          >{{ folder.getFilesRelatedToPatient($index).Heightcm }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).Weightkg}'
    >
      <td>Weight (kg)</td>
      <td>
        <span id="RicketConsult_Weightkg"
          >{{ folder.getFilesRelatedToPatient($index).Weightkg }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
