<table style="width: 100%">
  <tbody>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).report_diagnostic}'
    >
      <td>Operation</td>
      <td>
        <span id="Surgery_report_diagnostic"
          >{{ folder.getFilesRelatedToPatient($index).report_diagnostic }}</span
        >
      </td>
    </tr>
    <tr
      ng-class='{ "empty-value": !folder.getFilesRelatedToPatient($index).report_surgeon}'
    >
      <td>Operation</td>
      <td>
        <span id="Surgery_report_surgeon"
          >{{ folder.getFilesRelatedToPatient($index).report_surgeon }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
