/** 
 * On Mobile
 * 
 * From 360 to 990
 */

.row-spread {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.maybe-two-columns {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.io-line {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.io-line > label {
  width: 100%;
  font-size: smaller;
  color: gray;
}

.io-line > *:not(label) {
  /* full width for 300px - aside starting at 5600px */
  min-width: 100px;
  flex-grow: 1;

  text-align: right;
  color: green;
}
