/*
  Reserved classes:
    - separator
*/
:root {
  --color-around-green: green;
  --panel-min-width: 150px;
}

/** 
 * On laptop 
 * 
 * From 990 to 1600
 */

@media (max-width: 992px) {
  .no-mobile {
    display: none;
  }
}

body[screenshot="e2e"] {
  [variable],
  [data-e2e="excluded"] {
    background-color: black !important;
    color: black !important;
  }
}

/* body {
  scroll-behavior: smooth;
} */

/* TODO: LEGACY - used in headers in summaries + collapsible */
img.inline {
  height: 1.5em;
}

/**
 * text with image
 *
 */
.with-image {
  display: flex;
  flex-direction: row;

  height: 100%;
  align-items: center;
}

.with-image > * {
  flex-grow: 0;
}

.with-image > img {
  height: 1em;
  padding-right: 0.5em;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  padding: 5px;
  background-color: gray;

  object-fit: contain;
}

/* TODO: Color codes - to be put in SCSS */

.action-view {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: white;
}

.action-confirm {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}

.action-cancel {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: white;
}

.action-alternate {
  background-color: rgb(50% 50% 50%);
  border-color: rgb(45% 45% 45%);
  color: white;
}

.action-delete {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: white;
}

.discrete {
  background-color: transparent !important;
  color: black !important;
}
