/** 
 * On Mobile
 * 
 * From 360 to 990
 */

.row-spread {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-flexible {
  --column-gap: 20px;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  column-gap: var(--column-gap);
}

.io-line {
  --min-width: 300px;

  /* width is also set by io-abstract */
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 5px;
}

.io-line > * {
  width: 100%;

  color: green;
  text-align: right;
}

.io-line > label {
  color: gray;
  text-align: left;
  font-size: smaller;
}
