@import url("./styles/io.css");
@import url("./styles/panel.css");
@import url("./styles/two-columns.css");

/*
  Reserved classes:
    - separator
*/

/* body {
  scroll-behavior: smooth;
} */

/* TODO: LEGACY - used in headers in summaries + collapsible */
img.inline {
  height: 1.5em;
}

/**
 * text with image
 *
 */
.with-image {
  display: flex;
  flex-direction: row;

  height: 100%;
  align-items: center;
}

.with-image > * {
  flex-grow: 0;
}

.with-image > img {
  height: 1em;
  padding-right: 0.5em;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  object-fit: contain;
}
