@import url("./styles/io.css");
@import url("./styles/panel.css");
@import url("./styles/two-columns.css");

/* body {
  scroll-behavior: smooth;
} */

img.inline {
  height: 1.5em;
}

/* TODO LEGACY */
.columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* TODO LEGACY */
.columns > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
}

.row {
  width: 100%;
}

/**
 * text with image
 *
 */
.with-image {
  display: flex;
  flex-direction: row;

  height: 100%;
  align-items: center;
}

.with-image > * {
  flex-grow: 0;
}

.with-image > img {
  height: 1em;
  padding-right: 0.5em;
}
