/*
  Reserved classes:
    - separator
*/
:root {
  --color-around-green: green;
  --panel-min-width: 150px;
}

/** 
 * On laptop 
 * 
 * From 990 to 1600
 */

@media (max-width: 992px) {
  .no-mobile {
    display: none;
  }
}

/* body {
  scroll-behavior: smooth;
} */

/* TODO: LEGACY - used in headers in summaries + collapsible */
img.inline {
  height: 1.5em;
}

/**
 * text with image
 *
 */
.with-image {
  display: flex;
  flex-direction: row;

  height: 100%;
  align-items: center;
}

.with-image > * {
  flex-grow: 0;
}

.with-image > img {
  height: 1em;
  padding-right: 0.5em;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  padding: 5px;
  background-color: gray;

  object-fit: contain;
}
