@import "bootstrap5/scss/bootstrap.scss";
// @import "bootstrap-icons/font/bootstrap-icons.css";

$bootstrap-icons-font-src: "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// https://www.npmjs.com/package/ngx-toastr
@import "ngx-toastr/toastr-bs5-alert";

////////////////////////////////////////
//
// Override Bootstrap
//
////////////////////////////////////////

.button-group {
  @extend .d-flex;
  @extend .justify-content-end;

  width: 100%;
}

.button-group > button {
  flex-grow: 1;
}

////////////////////////////////////////
//
// Custom
//
////////////////////////////////////////

.cr-above {
  @extend .d-flex;
  @extend .justify-content-center;

  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  align-items: center;

  background-color: lightgray;
  opacity: 0.75;

  gap: 10px;
}
