/*
  Reserved classes:
    - separator
*/
:root {
  // --color-around-green: green;
  --panel-min-width: 250px;
  --summary-max-width: 800px;
}

@import "bootstrap5/scss/bootstrap.scss";
// @import "bootstrap-icons/font/bootstrap-icons.css";

$bootstrap-icons-font-src: "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// https://www.npmjs.com/package/ngx-toastr
@import "ngx-toastr/toastr-bs5-alert";

////////////////////////////////////////
//
// Override Bootstrap
//
////////////////////////////////////////

.button-group {
  @extend .d-flex;
  @extend .justify-content-end;

  width: 100%;
  gap: 5px;

  & > button {
    flex-basis: 100px;
    flex-grow: 1;
  }
}

////////////////////////////////////////
//
// Two Columns
//
////////////////////////////////////////

.two-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
    flex-basis: var(--panel-min-width);
  }
}

////////////////////////////////////////
//
// Panel
//
////////////////////////////////////////
.panel {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: 1px solid rgb(0 0 0 / 12.5%);
  border-radius: 3px;

  width: 100%;

  & > * {
    width: 100%;
  }

  & > *:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;

    padding: 0.75em;
    gap: 1em;

    background-color: rgb(0 0 0 / 3%);

    label {
      text-align: center;
    }

    img {
      height: 1.5em;
    }
  }

  & > *:not(:first-child) {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;

    /* vertical horizontal */
    padding: 0.75rem 1.25rem;

    .technical {
      display: flex;
      width: 100%;

      flex-wrap: wrap;
      justify-content: space-between;

      color: gray;
      font-size: 10px;
    }

    .separator {
      width: 100%;
      background-color: lightgray;
      border: black 1px dashed;
      text-align: center;
    }
  }
}

////////////////////////////////////////
//
// Custom
//
////////////////////////////////////////
