/*
  Reserved classes:
    - separator
*/
:root {
  --color-around-green: green;
  --panel-min-width: 150px;
}

@import "bootstrap5/scss/bootstrap.scss";
// @import "bootstrap-icons/font/bootstrap-icons.css";

$bootstrap-icons-font-src: "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// https://www.npmjs.com/package/ngx-toastr
@import "ngx-toastr/toastr-bs5-alert";

////////////////////////////////////////
//
// Override Bootstrap
//
////////////////////////////////////////

.button-group {
  @extend .d-flex;
  @extend .justify-content-end;

  width: 100%;
}

.button-group > button {
  flex-grow: 1;
}

////////////////////////////////////////
//
// Custom
//
////////////////////////////////////////
