 <IfModule mod_expires.c>
	ExpiresActive 	On
	ExpiresByType	img/*			"access plus 1 week"
	ExpiresByType	css/*			"access plus 1 week"
	ExpiresByType   js/*			"access plus 1 week"
	ExpiresDefault 	A0
</IfModule>

RewriteEngine On

RewriteRule ^rest/(.*) libs/rest/index.php [QSA,L,E=subquery:$1]
# RewriteRule ^static/(.*) app/static/$1 [QSA,L]
