@if (!file) {
  <div>Loading...</div>
} @else {
  <app-file-panel [file]="file" [opened]="opened" [model]="'patient'">
    <ng-container headers>
      <span>{{ file.entry_year }}-{{ file.entry_order }}</span>
      <span className="no-mobile">{{ file.name }}</span>
      <span className="no-mobile">{{ file.year_of_birth }}</span>
    </ng-container>
    <div class="two-columns">
      <div class="panel">
        <div>Identification</div>
        <div>
          <app-io type="string" label="Entry Year" [value]="file.entry_year" />
          <app-io
            type="string"
            label="Entry Order"
            [value]="file.entry_order"
          />
          <app-io type="string" label="Name" [value]="file.name" />
          <app-io type="list" label="Sex" [value]="file.sex" />
          <app-io
            type="number"
            label="Year of birth"
            [value]="file.year_of_birth"
          />
          <app-io type="number" label="Age today" [value]="ageAtReference()" />
          <app-io type="string" label="Pathology" [value]="file.pathology" />
          <app-io type="note" label="Comments" [value]="file.comments" />
        </div>
      </div>
      <div class="panel">
        <div>Address</div>
        <div>
          <app-io type="string" label="Phone" [value]="file.phone" />
          <app-io
            type="list"
            label="District"
            [value]="file.address_district"
          />
          <app-io
            type="list"
            label="Upazilla"
            [value]="file.address_upazilla"
          />
          <app-io type="list" label="Union" [value]="file.address_union" />
          <app-io
            type="note"
            label="Address Comments"
            [value]="file.address_comments"
          />
        </div>
      </div>
    </div>
  </app-file-panel>
}
