<div id='headerContainer' class='headerContainer'></div>
<div class='footer' security='all_edit' >
	<a class='textbutton' href="#addrelated/Bill">
		<img src="/amd/cryptomedic/img/add.gif">
		Add Bill
	</a>
	<a class='textbutton' href="#addrelated/NonricketConsult">
		<img src="/amd/cryptomedic/img/add.gif">
		Add Non-Ricket Consult
	</a>
	<a class='textbutton' href="#addrelated/ClubFoot">
		<img src="/amd/cryptomedic/img/add.gif">
		Add ClubFoot
	</a>
	<a class='textbutton' href="#addrelated/OrthopedicDevice">
		<img src="/amd/cryptomedic/img/add.gif">
		Add Orthopedic Device
	</a>
	<a class='textbutton' href="#addrelated/RicketConsult">
		<img src="/amd/cryptomedic/img/add.gif">
		Add Ricket Consult
	</a>
	<a class='textbutton' href="#addrelated/Surgery">
		<img src="/amd/cryptomedic/img/add.gif">
		Add Surgery
	</a>
	<a class='textbutton' href="#addrelated/Picture">
		<img src="/amd/cryptomedic/img/add.gif">
		Add Picture
	</a>
	<a class='textbutton' href="#addrelated/SurgeryFollowup">
		<img src="/amd/cryptomedic/img/add.gif">
		Add SurgeryFollowup
	</a>
</div>
<div id='related'>
    <table class='colorize tablesorter {sortlist: [[1,1]]}'>
    	<thead>
        	<tr>
        		<th></th>
        		<th>Date</th>
            	<th class="{sorter: false}">summary</th>
            </tr>
        </thead>
        <tbody>
{#rel}
				<tr>
            	<td>
					<!-- <a class='textbutton' href='/amd/{controller}/view/{id}'>
		                <img src='/amd/cryptomedic/img/{type}.gif'>
	                	<label for='{model}'>{type}</label>
	                	<img src='/cryptomedic/img/go.gif'>
	                </a> -->
	                <a class='textbutton' href='#related/{relatedid}/read'>
		                <img src='/amd/cryptomedic/img/{type}.gif'>
	                	<label for='{model}'>{type}</label>
	                	<img src='/amd/cryptomedic/img/go.gif'>
	                </a>
	            </td>
	            <td>
                	{@read value=Date type="date" /}
                </td>
                <td>
                	{>"{type}.history" /}
					<table width="100%">
						<colgroup span="2" width="50%"></colgroup>
						<tbody>
						</tbody>
					</table>
				</td>
			</tr>
{/rel}
			</tbody>
    </table>
</div>
