<form id="generalForm" enctype="multipart/form-data" method="post" action="/amd/{controller}/save" accept-charset="utf-8">
	<div id='headerContainer' class='headerContainer'></div>
	<input type="hidden" name="_method" value="PUT" />
	<input type="hidden" name="data[id]" value="{id}" />
	<input type="hidden" name="data[patient_id]" value="{patient_id}" />
	<input type="hidden" name="data[type]" value="NonricketConsult" />
	<table width='100%'>
		<col width='50%' /><col width='*' /> 
		<tr>
			<td>
				<fieldset>
					<legend><label for="NonricketConsult-GeneralData" name="NonricketConsult-GeneralData">General Data</label></legend>
					<table  class='colorize'>
						<col width='30%' /><col width='*' /> 
						<tr>
							<td><label for="NonricketConsultDate" name="NonricketConsult.Date">Date</label></td>
							<td>{@input header="NonricketConsult.Date"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultExaminerName" name="NonricketConsult.ExaminerName">Examiner Name</label></td>
							<td>{@input header="NonricketConsult.ExaminerName"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultCenter" name="NonricketConsult.Center">NonricketConsult.Center</label></td>
							<td>{@input header="NonricketConsult.Center"/}</td>
						</tr><tr modes='read'>
							<td><label for="Patient-Age" name="Patient-Age">Age</label></td>
							<td>{stats_base_age}</td>
						</tr><tr>
							<td><label for="NonricketConsultSchoolClass" name="NonricketConsult.SchoolClass">School Class</label></td>
							<td>{@input header="NonricketConsult.SchoolClass"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultPathology" name="NonricketConsult.Pathology">Pathology</label></td>
							<td>{@input header="NonricketConsult.Pathology"/}</td>
						</tr>
					</table>
				</fieldset>
				<br/>
				<fieldset>
					<legend><label for="NonricketConsult-NutritionalData" name="NonricketConsult-NutritionalData">Nutritional Data</label></legend>
					<table class='colorize'>
						<col width='30%' /><col width='*' style='text-align: right' /><col width='20%' /> 
						<tr><td/><td/><td>Deviation :</td></tr>					<tr>
							<td><label for="NonricketConsultWeightkg" name="NonricketConsult.Weightkg">Weight (kg)</label></td>
							<td class='tdright'>{@input header="NonricketConsult.Weightkg"/}</td>
							<td'>{stats_ds_weight}</td>
						</tr><tr>
							<td><label for="NonricketConsultHeightcm" name="NonricketConsult.Heightcm">Height (cm)</label></td>
							<td class='tdright'>{@input header="NonricketConsult.Heightcm"/}</td>
							<td'>{stats_ds_height}</div></td>
						</tr><tr>
							<td><label for="NonricketConsultWeightHeightRatio" name="NonricketConsult.Weight_Height_Ratio">Weight/Height Ratio</label></td>
							<td class='tdright'>{stats_base_wh}</td>
							<td'>{stats_ds_wh}</td>
						</tr><tr>
							<td><label for="NonricketConsultBmi" name="NonricketConsult.bmi">BMI</label></td>
							<td>{stats_base_bmi}</td>
							<td>{stats_ds_bmi}</td>
						</tr><tr>
							<td><label for="NonricketConsultBrachialcircumferencecm" name="NonricketConsult.Brachialcircumferencecm">MUAC - Brachial circumference (cm)</label></td>
							<td>{@input header="NonricketConsult.Brachialcircumferencecm"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultUndernutrited" name="NonricketConsult.Undernutrited">Undernutrited</label></td>
							<td>{@input header="NonricketConsult.Undernutrited"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultWorms" name="NonricketConsult.Worms">Worms</label></td>
							<td>{@input header="NonricketConsult.Worms"/}</td>
						</tr>
					</table>
				</fieldset>
				<br/>
				<fieldset>
					<legend><label for="NonricketConsult-OrthopedicData" name="NonricketConsult-OrthopedicData">Orthopedic Data</label></legend>
					<table class='colorize'>
						<col width='30%' /><col width='*' /> 
						<tr>
							<td><label for="NonricketConsultSide" name="NonricketConsult.Side">Side</label></td>
							<td>{@input header="NonricketConsult.Side"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultJointsorbonesaffected" name="NonricketConsult.Jointsorbonesaffected">Joints or bones affected</label></td>
							<td>{@input header="NonricketConsult.Jointsorbonesaffected"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultDeformity" name="NonricketConsult.Deformity">Deformity</label></td>
							<td>{@input header="NonricketConsult.Deformity"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultArticulationmobility" name="NonricketConsult.Articulationmobility">Range of motion</label></td>
							<td>{@input header="NonricketConsult.Articulationmobility"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultMusclestrength" name="NonricketConsult.Musclestrength">Muscle (strength/palsy)</label></td>
							<td>{@input header="NonricketConsult.Musclestrength"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultPain" name="NonricketConsult.Pain">Pain</label></td>
							<td>{@input header="NonricketConsult.Pain"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultWalk" name="NonricketConsult.Walk">Walking difficulties (palisano)</label></td>
							<td>{@input header="NonricketConsult.Walk"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultXRay" name="NonricketConsult.XRay">X-Ray</label></td>
							<td>{@input header="NonricketConsult.XRay"/}</td>
						</tr>			
					</table>
				</fieldset>
			</td>
			<td>
				<span id='belongsTo'></span>
				<fieldset>
					<legend><label for="NonricketConsult-Conclusion" name="NonricketConsult-Conclusion">Conclusion</label></legend>
					<table class='colorize'>
						<col width='30%' /><col width='*' /> 
						<tr>
							<td><label for="NonricketConsultPhysiotherapy61" name="NonricketConsult.Physiotherapy61">Physiotherapy</label></td>
							<td>{@input header="NonricketConsult.Physiotherapy61"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultPlaster62" name="NonricketConsult.Plaster62">Plaster</label></td>
							<td>{@input header="NonricketConsult.Plaster62"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultOrthopedicdevice65" name="NonricketConsult.Orthopedicdevice65">Orthopedic device</label></td>
							<td>{@input header="NonricketConsult.Orthopedicdevice65"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultSurgery66" name="NonricketConsult.Surgery66">Surgery</label></td>
							<td>{@input header="NonricketConsult.Surgery66"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultOthertreatment68" name="NonricketConsult.Othertreatment68">Other treatment</label></td>
							<td>{@input header="NonricketConsult.Othertreatment68"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultComment" name="NonricketConsult.Comment">Comment</label></td>
							<td>{@input header="NonricketConsult.Comment"/}</td>
						</tr><tr>
							<td><label for="NonricketConsultNextappointment" name="NonricketConsult.Nextappointment">Next appointment</label></td>
							<td>{@input header="NonricketConsult.Nextappointment"/}</td>
						</tr>
					</table>
				</fieldset>		
			</td>
		</tr>
	</table>
</form>