<fieldset>
	<legend>Related</legend>
		<table class='colorize'>
			<tr>
				<td rowspan='100' align='left'>
					<img src="/amd/cryptomedic/img/Patient.gif">
					<br/>
					<a class='textbutton' href="#read">
						<img src="/amd/cryptomedic/img/go.gif">
						view
					</a>
				</td>
				<td><label for="PatientEntryyear" name="Patient.entryyear">Patient.entryyear</label></td>
				<td>
					{@read header="Patient.entryyear"/}
				</td>
			</tr><tr>
				<td><label for="PatientEntryorder" name="Patient.entryorder">Patient.entryorder</label></td>
				<td>{@read header="Patient.entryorder"/}</td>
			</tr><tr>
				<td><label for="PatientFirstname" name="Patient.Firstname">First name</label></td>
				<td>{@read header="Patient.Firstname"/}</td>
			</tr><tr>
				<td><label for="PatientLastname" name="Patient.Lastname">Last name</label></td>
				<td>{@read header="Patient.Lastname"/}</td>
			</tr><tr>
				<td><label for="PatientFathersname" name="Patient.Fathersname">Father's name</label></td>
				<td>{@read header="Patient.Fathersname"/}</td>
			</tr><tr>
				<td><label for="PatientYearofbirth" name="Patient.Yearofbirth">Year of birth</label></td>
				<td>{@read header="Patient.Yearofbirth"/}</td>
			</tr><tr>
				<td><label for="PatientSex" name="Patient.Sex">Sex</label></td>
				<td>{@read header="Patient.Sex"/}</td>
			</tr>
		</tbody>						
	</table>						
</fieldset>
