<table width="100%">
	<colgroup span="2" width="50%"></colgroup>
	<tbody>
		<tr>
			<td><label for="RicketConsultDate" name="RicketConsult.Date">Date</label></td>
			<td>{@read header="RicketConsult.Date"/}</td>
		</tr><tr>
			<td><label for="RicketConsultRightleg" name="RicketConsult.Rightleg">Right leg</label></td>
			<td>{@read header="RicketConsult.Rightleg"/}</td>
		</tr><tr>
			<td><label for="RicketConsultRightlegAngle" name="RicketConsult.RightlegAngle">Var/valg Right leg</label></td>
			<td>{@read header="RicketConsult.RightlegAngle"/}</td>
		</tr><tr>
			<td><label for="RicketConsultLeftleg" name="RicketConsult.Leftleg">Left leg</label></td>
			<td>{@read header="RicketConsult.Leftleg"/}</td>
		</tr><tr>
			<td><label for="RicketConsultLeftlegAngle" name="RicketConsult.LeftlegAngle">Var/valg Left leg</label></td>
			<td>{@read header="RicketConsult.LeftlegAngle"/}</td>
		</tr><tr>
			<td><label for="RicketConsultCommentary" name="RicketConsult.Commentary">Commentary</label></td>
			<td>{@read header="RicketConsult.Commentary"/}</td>
		</tr><tr>
			<td><label for="RicketConsultHeightcm" name="RicketConsult.Heightcm">Heightcm (standing/lying) (cm)</label></td>
			<td>{@read header="RicketConsult.Heightcm"/}</td>
		</tr><tr>
			<td><label for="RicketConsultWeightkg" name="RicketConsult.Weightkg">Weight (kg)</label></td>
			<td>{@read header="RicketConsult.Weightkg"/}</td>
		</tr>
	</tbody>
</table>
