on:
  push:
    # branches:
    # - main
    # - ci/*
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

env:
  NO_CLEAR: yes

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      # https://github.com/actions/setup-node
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm

      - run: ./setup.sh

      - run: make build

      - name: Upload vendor
        uses: actions/upload-artifact@v4
        with:
          name: vendor
          path: www/api/vendor

  tests:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      # Do not stop the rest of the matrix in case of failure
      fail-fast: false
      matrix:
        target:
          - dump
          - lint
          - frontend-test

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      # https://github.com/actions/setup-node
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm

      # - uses: actions/download-artifact@v4
      #   with:
      #     name: vendor
      #     path: www/api/vendor

      - run: make github

      - run: make "${{ matrix.target }}"
          
  ga-test:
    needs: 
      - tests
    runs-on: ubuntu-latest
    timeout-minutes: 45
    concurrency:
      group: release-${{ github.ref }}

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      # https://github.com/actions/setup-node
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm

      # https://github.com/marketplace/actions/setup-chrome
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - run: ./setup.sh

      - run: make github

      - run: make dc-build

      - run: make dc-up

      - run: make backend-test

      - run: make integration-test-desktop

      - run: make integration-test-mobile

      - run: make integration-test-styles

      - name: make deploy
        if: ${{ github.ref_name == 'main' && github.ref_type == 'branch' }}
        env:
          CRYPTOMEDIC_DEPLOY_WEB_HOST: ${{ vars.CRYPTOMEDIC_DEPLOY_WEB_HOST }}
          CRYPTOMEDIC_DEPLOY_WEB_PORT: ${{ vars.CRYPTOMEDIC_DEPLOY_WEB_PORT }}
          CRYPTOMEDIC_DEPLOY_WEB_TOKEN: ${{ secrets.CRYPTOMEDIC_DEPLOY_WEB_TOKEN }}

          CRYPTOMEDIC_DEPLOY_FILES_HOST: ${{ vars.CRYPTOMEDIC_DEPLOY_FILES_HOST }}
          CRYPTOMEDIC_DEPLOY_FILES_USER: ${{ vars.CRYPTOMEDIC_DEPLOY_FILES_USER }}
          CRYPTOMEDIC_DEPLOY_FILES_PASSWORD: ${{ secrets.CRYPTOMEDIC_DEPLOY_FILES_PASSWORD }}
        run:  make deploy

      - name: Upload styles
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration
          path: tmp/integration/

      - name: Upload deploy.log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: deploy.log
          path: tmp/deploy.log
