on:
  push:
    # branches:
    # - main
    # - ci/*
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  ga-test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    concurrency:
      group: release-${{ github.ref }}
    env:
      NO_CLEAR: yes
      CRYPTOMEDIC_PROD: yes

    steps:
      - uses: actions/checkout@v3

      # https://github.com/actions/setup-node
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*

      # https://github.com/marketplace/actions/setup-chrome
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - run: sudo .devcontainer/root/setup.sh

      - run: make dc-build

      - run: make dc-up

      - run: make dump

      - run: make dependencies

      - run: make build

      - run: make lint

      - run: make backend-test

      - run: make frontend-test

      - run: make integration-test-desktop

      - run: make integration-test-mobile

      - run: make integration-test-styles

      - name: make deploy
        if: ${{ github.ref_name == 'main' && github.ref_type == 'branch' }}
        env:
          CRYPTOMEDIC_HTTP_HOST: ${{ vars.CRYPTOMEDIC_HTTP_HOST }}
          CRYPTOMEDIC_HTTP_PORT: ${{ vars.CRYPTOMEDIC_HTTP_PORT }}
          CRYPTOMEDIC_HTTP_TOKEN: ${{ secrets.CRYPTOMEDIC_HTTP_TOKEN }}

          CRYPTOMEDIC_DEPLOY_HOST: ${{ vars.CRYPTOMEDIC_DEPLOY_HOST }}
          CRYPTOMEDIC_DEPLOY_USER: ${{ secrets.CRYPTOMEDIC_DEPLOY_USER }}
          CRYPTOMEDIC_DEPLOY_PASSWORD: ${{ secrets.CRYPTOMEDIC_DEPLOY_PASSWORD }}
        run:  make deploy

      - name: Upload styles
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: integration
          path: tmp/integration/

      - name: Upload deploy.log
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: deploy.log
          path: tmp/deploy.log
